<footer class="body-footer">
  <section>
    <h4 class="h4 h4--white">Inhoud</h4>

    <nav class="menu">
      <a class="menu__menu-item" href="/">
        <span class="menu-item__icon"><%- icon('home') %></span>
        <span class="menu-item__label">Start</span>
      </a>
      <a class="menu__menu-item" href="/partners">
        <span class="menu-item__icon"><%- icon('handshake') %></span>
        <span class="menu-item__label">Partners</span>
      </a>
    </nav>
  </section>

  <section>
    <h4 class="h4 h4--white">Extra's</h4>

    <nav class="menu">
      <a class="menu__menu-item" href="/styleguide">
        <span class="menu-item__icon"><%- icon('pencil') %></span>
        <span class="menu-item__label">Styleguide</span>
      </a>
    </nav>
  </section>
</footer>

