<!--Nieuwsbrief-->
<form action="/action_page.php">
  <h5>Nieuwsbrief</h5>
  <h6>Blijf je op de hoogte van het laatste nieuws over de eerste 1000 dagen en voedselallergie?</h6>
  <div class="input-container">
    <a href="#"><i class="fa fa-envelope icon"></i></a>
    <input class="input-field" type="text" placeholder="Email" name="email">
  </div>

  <button type="submit" class="buttonzenit">Registreer</button>
</form>

<footer>
    <div class="footer">
        <div class="footer-container">
            <ul>
                <h3 class="footer-title">Vini Mini</h3>
                <li><a href="" class="footer-link">Producten</a></li>
                <li><a href="" class="footer-link">Stappenplan</a></li>
                <li><a href="" class="footer-link">Over ons</a></li>
                <li><a href="" class="footer-link">Nieuws</a></li>
                <li><a href="" class="footer-link">Doe de test</a></li>
            </ul>

            <ul>
                <h3 class="footer-title">Info & Help</h3>
                <li><a href="" class="footer-link">Veelgestelde vragen</a></li>
                <li><a href="" class="footer-link">Algemene Voorwaarden</a></li>
                <li><a href="" class="footer-link">Privacy</a></li>
                <li><a href="" class="footer-link">Bestellen & retour</a></li>
            </ul>

            <ul>
                <h3 class="footer-title">Socials</h3>
                <li><a href="" class="footer-link">Instagram</a></li>
                <li><a href="" class="footer-link">Facebook</a></li>
                <li><a href="" class="footer-link">Youtube</a></li>
            </ul>
        </div>
</footer>

</body>
</html>