<script src="/javascripts/script.js"></script>
<script src="/smartzones.json"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxoJXbVdPsj0_XhdyVVzkaNG3wot69lgQ&libraries=places&callback=initMap"></script>
</body>
</html>