

<!--zenit-->

<footer>
         <nav>
              <div>
                  <span>Social</span>
                  <ul>
                      <li><a href="#">Facebook</a></li>
                      <li><a href="#">Instagram</a></li>
                      <li><a href="#">YouTube</a></li>
                  </ul>
              </div>
              <div>
                  <span>Menu</span>
                  <ul>
                      <li><a href="#">Voor Mini</a></li>
                      <li><a href="#">Vini Mini Producten</a></li>
                      <li><a href="#">Over ons</a></li>
                      <li><a href="#">Nieuws</a></li>
                      <li><a href="#">Contact</a></li>
                      <li><a href="#">Zoeken</a></li>
                  </ul>
              </div>
              <div>
                  <span>Info & Help</span>
                  <ul>
                      <li><a href="#">Algemene voorwaarden</a></li>
                      <li><a href="#">Privacy voorwaarden</a></li>
                      <li><a href="#">Veelgestelde vragen</a></li>
                  </ul>
              </div>
            </nav>
        </footer>
      

</body>
</html>

