  </body>

<div class="footer">
  <div class="container">
    <div class="row">
<div class="footer-col">
<h4>Inspiratie</h4>
<ul>
<li><a href="#">nieuws</a></li>
<li><a href="#">nieuwsbrief</a></li>
<li><a href="#">leestips & blogs</a></li>
<li><a href="#">instagram</a></li>
<li><a href="#">twitter</a></li>
<li><a href="#">facebook</a></li>
<li><a href="#">linkedin</a></li>
</ul>
</div>
<div class="footer-col">
  <h4>Service</h4>
  <ul>
  <li><a href="#">veelgestelde vragen</a></li>
  <li><a href="#">vestigingen</a></li>
  <li><a href="#">lidmaatschappen</a></li>
  <li><a href="#">contact</a></li>
  <li><a href="#">in english</a></li>
  </ul>
  </div>
  <div class="footer-col">
    <h4>Over ons</h4>
    <ul>
    <li><a href="#">vacatures</a></li>
    <li><a href="#">nieuwsbrief</a></li>
    <li><a href="#">voor de pers</a></li>
    <li><a href="#">partners</a></li>
    <li><a href="#">fondsenwerving</a></li>
    </ul>
    </div>
<div class="footer-col">
  <h4> Volg ons op</h4>
  <div class="social-link">
  <a href="#"><i class="fab fa-facebook-f"></a>
  <a href="#"><i class="fab fa-instagram"></a>
  <a href="#"><i class="fab fa-twitter"></a>
  <a href="#"><i class="fab fa-youtube"></a>
  </div>
</div>

</div>


  </div>
</div>
  </html>