
<footer>

    <div class="info">
    <h2>Info & Help</h2>
    <p>Algemene voorwaarden</p>
    <p>Privacy voorwaarden</p>
    <p>Veelgestelde vragen</p>
  </div>
  

  <div class="social">
    <h2>Social</h2>
    <p>Facebook</p>
    <p>Instagram</p>
    <p>Youtube</p>
  </div>

  <div class="footerMenu">
    <h2>Menu</h2>
    <p>Voor Mini</p>
    <p>Producten</p>
    <p>Logboek</p>
    <p>Nieuws</p>
    <p>Contact</p>
    <p>Zoeken</p>
  </div>
</footer>

<script src="/script.js"></script>

</body>
</html>