<footer>
    <div class="Hfooter">
        <div>
            <p>Service</p>
            <ul>
                <a class="aFooter" href="https://www.oba.nl/service.html">Veelgestelde vragen</a>
                <a class="aFooter" href="">vestigingen</a>
                <a class="aFooter" href="">abonnementen</a>
                <a class="aFooter" href="">contacten</a>
            </ul>
        </div>

        <div>
            <p>Inspiratie</p>
            <ul>
                <a class="aFooter" href="">nieuws</a>
                <a class="aFooter" href="">nieuwsbrief</a>
                <a class="aFooter" href="">leestips en blogs</a>
                <a class="aFooter" href="">instagram</a>
                <a class="aFooter" href="">twitter</a>
            </ul>
        </div>

        <div>
            <p>Over ons</p>
            <ul>
                <a class="aFooter" href="">vacatures</a>
                <a class="aFooter" href="">voor de pers</a>
                <a class="aFooter" href="">partners</a>
                <a class="aFooter" href="">fondsenwerving</a>
            </ul>
        </div>

        <div>
            <p>Zakelijk</p>
            <ul>
                <a class="aFooter" href="">Oba school</a>
                <a class="aFooter" href="">Oba congres</a>
            </ul>
        </div>
    </div>

</footer>
</body>
</html>

<script src="/index.js"></script>