<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Openbare Bibliotheek Amsterdam</title>
    <link rel="stylesheet" href="./style/main.css" />
    <link rel="icon" type="image/png" href="https://www.oba.nl/etc.clientlibs/settings/wcm/designs/website/styles/oba/clientlibs/resources/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
<!--voor carousel activiteit-cursus -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/carousel.css"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>
    <script src="/public/js/carousel.js"></script>
    <script href="/scripts/carousel.js"> defer </script> 
    <!---einde carousel-->
    <script href="/scripts/script.js"> defer </script> 
  </head>
  <body>