<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OBA</title>
    

     <!-- CSS -->
     <link rel="stylesheet" href="/style.css"/>

     <!-- ICONS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css" />
  </head>
  
  <body>
    <a href="#" class="header-link">Help | Log in</a>
    <a style="text-decoration: none;" href="/">
        <h1 class="oba">OBA</h1>
    </a>    

    <nav id="dev">

   
        <ul>
            <li><a class="nav1 active" href="/">Boeken overzicht</a></li>
            <li><a class="nav2" href="/reserveren">Reserveren</a></li>
            <li><a class="nav5" href="">Leren</a></li>
            <li><a class="nav6" href="">Jeugd</a></li>
            <li><a class="nav7" href="">Service</a></li>
            <li><a class="nav8" href="">Over ons</a></li>
        </ul>
    </nav>


    <main>

      