<header>
	<a id="logo" href="/">
		<svg
			aria-hidden="true"
			focusable="false"
			class="logo"
			width=""
			height=""
			viewBox="0 0 48 26"
			fill=""
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M15.3552 0H20.3376V10.6944H20.4048C20.9808 9.9216 21.7152 9.3696 22.6128 9.048C23.5104 8.7264 24.48 8.568 25.5168 8.568C26.6688 8.568 27.696 8.808 28.608 9.2832C29.5152 9.7584 30.2832 10.3968 30.9168 11.1936C31.5456 11.9904 32.0352 12.9024 32.376 13.9344C32.7168 14.9664 32.8896 16.0416 32.8896 17.1744C32.8896 18.3936 32.7024 19.512 32.3232 20.5296C31.9488 21.5472 31.4112 22.4304 30.7104 23.1696C30.0144 23.9136 29.1744 24.4896 28.2048 24.8976C27.2304 25.3056 26.1456 25.512 24.9504 25.512C24.3744 25.512 23.832 25.4352 23.3232 25.2816C22.8144 25.128 22.344 24.9264 21.912 24.6816C21.48 24.4368 21.1056 24.168 20.784 23.8656C20.4624 23.568 20.2032 23.2752 20.0016 22.9872H19.9344V25.1136H15.3504V0H15.3552ZM19.9392 17.04C19.9392 18.2592 20.2896 19.2432 20.9856 19.9968C21.6816 20.7504 22.6608 21.1248 23.9232 21.1248C25.1856 21.1248 26.1648 20.7504 26.8608 19.9968C27.5568 19.2432 27.9072 18.2592 27.9072 17.04C27.9072 15.8208 27.5568 14.8368 26.8608 14.0832C26.1648 13.3296 25.1856 12.9552 23.9232 12.9552C22.6608 12.9552 21.6816 13.3296 20.9856 14.0832C20.2896 14.8368 19.9392 15.8208 19.9392 17.04Z"
				fill=""
			/>
			<path
				d="M6.4608 23.9952C5.4816 23.9952 4.5936 23.8176 3.8016 23.4624C3.0096 23.1072 2.328 22.6224 1.7616 22.0032C1.1952 21.3888 0.7632 20.6592 0.456 19.824C0.1488 18.9888 0 18.096 0 17.1504C0 16.2048 0.1536 15.312 0.456 14.4768C0.7584 13.6416 1.1952 12.9168 1.7616 12.2976C2.328 11.6832 3.0096 11.1936 3.8016 10.8384C4.5936 10.4832 5.4816 10.3056 6.4608 10.3056C7.44 10.3056 8.328 10.4832 9.12 10.8384C9.912 11.1936 10.5936 11.6784 11.16 12.2976C11.7264 12.912 12.1632 13.6416 12.4656 14.4768C12.768 15.312 12.9216 16.2048 12.9216 17.1504C12.9216 18.096 12.768 18.9888 12.4656 19.824C12.1632 20.6592 11.7264 21.3888 11.16 22.0032C10.5936 22.6176 9.9168 23.1072 9.12 23.4624C8.328 23.8176 7.44 23.9952 6.4608 23.9952ZM6.4608 20.1936C7.392 20.1936 8.1408 19.9296 8.7168 19.3968C9.2928 18.864 9.576 18.1152 9.576 17.1552C9.576 16.1952 9.288 15.4464 8.7168 14.9136C8.1408 14.3808 7.392 14.1168 6.4608 14.1168C5.5296 14.1168 4.7808 14.3808 4.2048 14.9136C3.6288 15.4464 3.3456 16.1952 3.3456 17.1552C3.3456 18.1152 3.6336 18.864 4.2048 19.3968C4.7808 19.9296 5.5296 20.1936 6.4608 20.1936Z"
				fill=""
			/>
			<path
				d="M46.152 14.7216V14.7744C46.8096 15.1968 47.2848 15.7584 47.5728 16.4592C47.8608 17.16 48.0048 17.8992 48.0048 18.6768C48.0048 19.2528 47.9232 19.8048 47.7648 20.3376C47.6064 20.8704 47.3616 21.336 47.0448 21.744C46.7232 22.1472 46.3248 22.4688 45.8544 22.7088C45.384 22.944 44.832 23.064 44.208 23.064C43.4976 23.064 42.8976 22.9344 42.408 22.6704C41.9184 22.4064 41.5152 22.056 41.1936 21.6048C40.872 21.1584 40.6224 20.6448 40.4448 20.0736C40.2672 19.4976 40.1376 18.9024 40.0512 18.288C39.9648 17.6736 39.9168 17.0544 39.8976 16.44C39.8832 15.8256 39.8736 15.2544 39.8736 14.7312C39.1968 14.7312 38.664 14.9712 38.2656 15.4512C37.8672 15.9312 37.6704 16.5024 37.6704 17.16C37.6704 17.8176 37.8 18.3552 38.064 18.8688C38.328 19.3824 38.6832 19.8432 39.1392 20.2512L37.0608 22.2768C36.4032 21.5664 35.9088 20.7408 35.5776 19.7952C35.2464 18.8496 35.0832 17.8704 35.0832 16.8576C35.0832 15.744 35.2224 14.8272 35.5008 14.1072C35.7792 13.3872 36.1872 12.816 36.7296 12.384C37.272 11.952 37.9344 11.6544 38.7168 11.4864C39.504 11.3184 40.4112 11.232 41.4384 11.232H47.6976V14.7264H46.152V14.7216ZM42.3024 15.6576C42.3024 15.9456 42.3168 16.3056 42.3408 16.7328C42.3648 17.1648 42.4368 17.5776 42.5568 17.976C42.6768 18.3744 42.8544 18.7104 43.0896 18.9888C43.3248 19.2672 43.656 19.4064 44.0784 19.4064C44.5344 19.4064 44.8704 19.2144 45.0912 18.8256C45.312 18.4368 45.4224 18.0336 45.4224 17.6112C45.4224 17.2416 45.3696 16.8816 45.2688 16.536C45.168 16.1904 45.024 15.8832 44.8368 15.6096C44.6496 15.3408 44.4144 15.1248 44.1264 14.9616C43.8384 14.8032 43.5024 14.7216 43.1136 14.7216H42.3024V15.6576Z"
				fill=""
			/>
		</svg>
	</a>
	<nav>
		<ul>
			<li>
				<a href="collectie">Collectie</a>
			</li>
			<li>
				<a href="activiteiten">Activiteiten</a>
			</li>
			<li>
				<a href="cursussen">Cursussen</a>
			</li>
			<li>
				<a href="over-ons">Over ons</a>
			</li>
      <li>
				<a href="reserveer-een-studieplek">Studieplek</a>
			</li>
		</ul>
	</nav>
	<details>
		<summary role="button">
			<a class="dropdown">
				<svg
					width="40"
					height="32"
					viewBox="0 0 44 32"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<rect width="44" height="4" fill="" />
					<rect y="14" width="44" height="4" fill="" />
					<rect y="28" width="44" height="4" fill="" />
				</svg>
				menu
			</a>
		</summary>
		<ul>
			<li>
				<a href="">
					<svg
						width="34"
						height="38"
						viewBox="0 0 34 38"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M22.5 0.666656C24.5251 0.666656 26.1667 2.30828 26.1667 4.33332V26.3333C26.1667 28.3584 24.5251 30 22.5 30H4.16667C2.14162 30 0.5 28.3584 0.5 26.3333V4.33332C0.5 2.30828 2.14162 0.666656 4.16667 0.666656H22.5ZM4.16667 4.33332H22.5V26.3333H4.16667V4.33332Z"
							fill=""
						/>
						<path
							d="M29.8333 30V9.83333C29.8333 8.82082 30.654 8 31.6666 8C32.6791 8 33.4999 8.82082 33.4999 9.83333V30C33.4999 34.05 30.2166 37.3333 26.1666 37.3333H9.66659C8.65407 37.3333 7.83325 36.5126 7.83325 35.5C7.83325 34.4875 8.65407 33.6667 9.66659 33.6667H26.1666C28.1917 33.6667 29.8333 32.0251 29.8333 30Z"
							fill=""
						/>
					</svg>
					Collecties</a
				>
			</li>
			<li>
				<a href="">
					<svg
						width="28"
						height="38"
						viewBox="0 0 30 40"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M22.3334 17.3333C22.3334 18.3459 21.5126 19.1667 20.5001 19.1667H9.50008C8.48757 19.1667 7.66675 18.3459 7.66675 17.3333C7.66675 16.3208 8.48757 15.5 9.50008 15.5H20.5001C21.5126 15.5 22.3334 16.3208 22.3334 17.3333Z"
							fill=""
						/>
						<path
							d="M18.6667 24.6667C18.6667 25.6792 17.846 26.5 16.8334 26.5H9.50008C8.48757 26.5 7.66675 25.6792 7.66675 24.6667C7.66675 23.6541 8.48757 22.8333 9.50008 22.8333H16.8334C17.846 22.8333 18.6667 23.6541 18.6667 24.6667Z"
							fill=""
						/>
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M11.3333 0.833344C9.30821 0.833344 7.66659 2.47497 7.66659 4.50001H3.99992C1.97487 4.50001 0.333252 6.14163 0.333252 8.16668V35.6667C0.333252 37.6918 1.97487 39.3333 3.99992 39.3333H25.9999C28.025 39.3333 29.6666 37.6918 29.6666 35.6667V8.16668C29.6666 6.14163 28.025 4.50001 25.9999 4.50001H22.3333C22.3333 2.47497 20.6917 0.833344 18.6666 0.833344H11.3333ZM22.3333 8.16668C22.3333 10.1917 20.6917 11.8333 18.6666 11.8333H11.3333C9.30821 11.8333 7.66659 10.1917 7.66659 8.16668H3.99992V35.6667H25.9999V8.16668H22.3333ZM11.3333 4.50001H18.6666V8.16668H11.3333V4.50001Z"
							fill=""
						/>
					</svg>
					Activiteiten</a
				>
			</li>
			<li>
				<a href="">
					<svg
						width="38"
						height="38"
						viewBox="0 0 36 36"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M20.2499 17.3787L23.3785 14.25C23.9644 13.6642 24.914 13.6642 25.4999 14.25C26.0857 14.8358 26.0857 15.7855 25.4999 16.3713L21.3106 20.5607C21.0292 20.8419 20.6477 21 20.2498 21C19.852 21 19.4705 20.8419 19.1891 20.5607L15.7499 17.1213L12.6212 20.25C12.0354 20.8358 11.0857 20.8358 10.4999 20.25C9.9141 19.6643 9.9141 18.7145 10.4999 18.1287L14.6892 13.9394C14.9705 13.658 15.3521 13.5 15.7499 13.5C16.1477 13.5 16.5293 13.658 16.8106 13.9394L20.2499 17.3787Z"
							fill=""
						/>
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M18 0C17.0059 0 16.2 0.79445 16.2 1.77443V3.54887H3.6C1.61177 3.54887 0 5.13775 0 7.09774V26.6165C0 28.5766 1.61177 30.1654 3.6 30.1654H8.09762L5.36801 34.84C4.87206 35.6894 5.16847 36.7743 6.03004 37.2631C6.89161 37.752 7.99209 37.4599 8.48803 36.6105L12.2514 30.1654H23.8387L27.6021 36.6105C28.098 37.4599 29.1985 37.752 30.06 37.2631C30.9217 36.7743 31.2179 35.6894 30.722 34.8401L27.9925 30.1654H32.4C34.3883 30.1654 36 28.5766 36 26.6165V7.09774C36 5.13775 34.3883 3.54887 32.4 3.54887H19.8V1.77443C19.8 0.79445 18.9941 0 18 0ZM3.6 7.09774V26.6165H32.4V7.09774H3.6Z"
							fill=""
						/>
					</svg>
					Cursussen</a
				>
			</li>
			<li>
				<a href="">
					<svg
						width="44"
						height="32"
						viewBox="0 0 44 32"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M12.8333 14.25C16.6302 14.25 19.7083 11.172 19.7083 7.375C19.7083 3.57804 16.6302 0.5 12.8333 0.5C9.03629 0.5 5.95825 3.57804 5.95825 7.375C5.95825 11.172 9.03629 14.25 12.8333 14.25ZM12.8333 10.5833C14.6052 10.5833 16.0416 9.14692 16.0416 7.375C16.0416 5.60308 14.6052 4.16667 12.8333 4.16667C11.0613 4.16667 9.62492 5.60308 9.62492 7.375C9.62492 9.14692 11.0613 10.5833 12.8333 10.5833Z"
							fill=""
						/>
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M38.0417 7.375C38.0417 11.172 34.9638 14.25 31.1667 14.25C27.3697 14.25 24.2917 11.172 24.2917 7.375C24.2917 3.57804 27.3697 0.5 31.1667 0.5C34.9638 0.5 38.0417 3.57804 38.0417 7.375ZM34.3751 7.375C34.3751 9.14692 32.9387 10.5833 31.1667 10.5833C29.3948 10.5833 27.9584 9.14692 27.9584 7.375C27.9584 5.60308 29.3948 4.16667 31.1667 4.16667C32.9387 4.16667 34.3751 5.60308 34.3751 7.375Z"
							fill=""
						/>
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M28.3409 20.9899C29.2475 20.7785 30.1933 20.6667 31.1666 20.6667C34.7999 20.6667 38.0644 22.2281 40.3333 24.728V28H29.3333C29.3333 29.3358 28.9762 30.5881 28.3523 31.6667H40.3333C42.3584 31.6667 44 30.0251 44 28V24.6391C44 23.8446 43.7523 23.0625 43.2283 22.4654C40.2882 19.1149 35.9744 17 31.1666 17C29.1987 17 27.3135 17.3544 25.5713 18.0028C26.3142 18.6324 27.0094 19.3159 27.6508 20.0468C27.9148 20.3477 28.144 20.6637 28.3409 20.9899Z"
							fill=""
						/>
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M22 31.6667C24.0251 31.6667 25.6667 30.0251 25.6667 28V24.6391C25.6667 23.8446 25.419 23.0625 24.895 22.4654C24.0392 21.4902 23.067 20.6196 22 19.8754C19.4016 18.063 16.2416 17 12.8333 17C8.02556 17 3.71178 19.1149 0.771665 22.4654C0.247676 23.0625 0 23.8446 0 24.6391V28C0 30.0251 1.64162 31.6667 3.66667 31.6667H22ZM12.8333 20.6667C16.4667 20.6667 19.7311 22.2281 22 24.728V28H3.66667V24.728C5.93556 22.2281 9.19998 20.6667 12.8333 20.6667ZM3.66703 24.6298C3.66709 24.6292 3.66701 24.63 3.66703 24.6298Z"
							fill=""
						/>
					</svg>
					Over ons</a
				>
			</li>
			<li>
				<a href="">
					<svg
						width="44"
						height="44"
						viewBox="0 0 44 44"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<g clip-path="url(#clip0_184_74)">
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M14.7238 15.138L2.49579 18.4729C1.01468 18.8768 0.522495 20.7301 1.60805 
                                21.8156L10.4824 30.6899L0.585618 40.5868C-0.195206 41.3676 -0.195206 42.6336 
                                0.585618 43.4144C1.36644 44.1952 2.63243 44.1952 3.41325 43.4144L13.31 33.5176L22.1843 
                                42.3919C23.2698 43.4776 25.1231 42.9853 25.5272 41.5041L28.8621 29.2761L40.1725 17.9656L40.8795 
                                18.6725C41.27 19.0629 41.9029 19.0629 42.2934 18.6725L43.7072 17.2587C44.0977 16.8683 44.0977 
                                16.2353 43.7072 15.8449L28.1551 0.292814C27.7648 -0.0976042 27.1318 -0.0976043 26.7413 0.292812L25.3274 
                                1.70664C24.9372 2.09705 24.9372 2.73003 25.3274 3.12047L26.0345 3.82737L14.7238 15.138ZM25.0041 28.224C25.1871 
                                27.5526 25.5424 26.9406 26.0345 26.4485L37.3449 15.138L28.8621 6.65501L17.5514 17.9656C17.0593 18.4577 16.4474 
                                18.8128 15.776 18.9959L6.87198 21.4243L22.5756 37.128L25.0041 28.224Z"
								fill=""
							/>
						</g>
						<defs>
							<clipPath id="clip0_184_74">
								<rect width="44" height="44" fill="" />
							</clipPath>
						</defs>
					</svg>
					Studieplek
				</a>
			</li>
		</ul>
	</details>
</header>

<section class="search-container">
	<form method="get" action="/home.do" class="search-form">
		<input type="search" id="searchBar" placeholder="Waar ben je naar op zoek?" />
		<button type="submit" name="submit">Zoek</button>
	</form>
</section>