<!DOCTYPE html>
<html lang="nl">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Vini Mini</title>
<link rel="stylesheet" href="/style.css">
<link href='http://fonts.googleapis.com/css?family=Montserrat:regular' rel='stylesheet' type='text/css'> 
    </head>
    <body>
        <header>
            <p>GEEN VERZENDKOSTEN bij aankoop van mijn eerste pinda in 3 of 6 stappen + mijn eerste pinda Opvolgkit</p>
        </header> 
             <!--Nav-->
                <nav>
                    <img src="/logo.png" loading="lazy" alt="logo" width="300" height="300">
                    <div class="nav-menu">
                        <div class="nav-links">
                            <ul>
                                <li> <a href="">Voor Mini </a></li>
                                <li> <a href="">Producten </a></li>
                                <li> <a href="">Reviews</a></li>
                                <li> <a href="">Nieuws </a></li>
                                <li> <a href="">Contact </a></li>
                            </ul>
                        </div>
                    </div>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <div class="navbar"> 
                      <a href="#"><i class="fa fa-fw fa-user"></i></a>
                      <a href="#"><i class="fa fa-shopping-cart"></i></a> 
                    </div>
                </nav>
    <main>