<!DOCTYPE html>
<html lang="nl">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Vini Mini</title>
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
    <body>
<div id="preloader"></div>

        <header class="zenit">
        <p class="para">📨GEEN VERZENDKOSTEN bij aankoop van mijn eerste pinda in 3 of 6 stappen + mijn eerste pinda Opvolgkit📨</p>
    </header>
    
        <!--NAV + LOGO-->
          <nav>
            <a href="" class="nav-logo"><img class="logo" src="/img/logo.png" alt="logo"></a>

                <div class="nav-menu">
                    <div class="nav-links">
                        <ul>
                            <li> <a href="">Voor Mini</a></li>
                            <li> <a href="">Producten</a></li>
                            <li> <a href="">Over ons</a></li>
                            <li> <a href="">Nieuws</a></li>
                            <li> <a href="">Contact</a></li>
                            <li> <a href="">Zoeken</a></li>
                        </ul>
                    </div>
                </div>
                <div class="navbar"> 
                  <a href="#"><i class="fa fa-fw fa-user-o"></i></a>
                  <a href="#"><i class="fa fa-shopping-cart"></i></a> 
                </div>
            </nav>
    <main>