<!DOCTYPE html>
<html lang="nl">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Vinimini | Profiel</title>
  </head>
  <body>
    <nav>
      <img class="shopping" src="/assets/shopping-cart.png" alt="" />
      <img class="logo" src="/assets/vinimini.png" alt="" />
      <a href="/" class="profielIcon">
        <img src="/assets/account.png" alt="" />
      </a>
      <a href="#" class="toggle" id="toggle">
        <img src="/assets/menu.png" alt="MenuIcon" />
      </a>

      <div class="menu" id="menu">
        <a href="#" class="close" id="close">
          <img src="/assets/close.png" alt="Close Icon" />
        </a>
        <ul>
          <li><a href="#">Voor Mini</a></li>
          <li><a href="/producten">Producten</a></li>
          <li><a href="#">Over ons</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>

    <!-- Navbar when Javascript is disabeld -->
    <noscript>
      <style>
        .toggle {
          display: none;
        }
        .no-js-nav {
          display: flex;
          align-items: center;
          padding: 1rem;
          background-color: #f7f7f7;
          border-bottom: 1px solid #ddd;
        }

        .no-js-nav ul {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;
          overflow-y: scroll;
        }

        .no-js-nav li {
          padding: 0 1rem;
        }

        .no-js-nav a {
          text-decoration: none;
          color: #333;
          font-size: 1.5rem;
          font-weight: bold;
        }
      </style>

      <nav class="no-js-nav">
        <ul>
          <li><a href="#">Voor Mini</a></li>
          <li><a href="#">Producten</a></li>
          <li><a href="#">Over ons</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </noscript>
  </body>
</html>

