<!DOCTYPE html>
<html lang="nl">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Vini Mini</title>

<!-- Link to the stylesheet -->
<link rel="stylesheet" href="/style.css">

<!-- Link to Fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
    <body>
        <header>
            <p class="headerzenit">GEEN VERZENDKOSTEN bij aankoop van mijn eerste pinda in 3 of 6 stappen + mijn eerste pinda Opvolgkit</p>
        </header>
    
        <!--NAV + LOGO-->
    
    <!--NAV -->
    <nav class="nav-container">

        <div class="icons-left">
            <i class="ri-shopping-cart-2-line"></i>

            <i class="ri-user-line"></i>
        </div>

        <a href="" class="nav-logo"><img class="logo" src="/img/logo.png" alt="logo"></a>


        <div class="nav-menu" id="nav-menu">
            <i class="ri-close-line nav-close" id="nav-close"></i>
            <ul class="nav-list">

                <li class="nav-item">
                    <a href="" class="nav-link">Producten</a>
                </li>

                <li class="nav-item">
                    <a href="" class="nav-link">Stappenplan</a>
                </li>

                <li class="nav-item">
                    <a href="" class="nav-link">Over</a>
                </li>

                <li class="nav-item">
                    <a href="" class="nav-link">Nieuws</a>
                </li>

                <li class="nav-item">
                    <a href="" class="nav-link">Contact</a>
                </li>

                <li class="nav-item">
                    <a href="" class="nav-link">Doe de test</a>
                </li>
            </ul>

            <div class="icons-right">
                <i class="ri-shopping-cart-2-line"></i>

                <i class="ri-user-line"></i>
            </div>
        </div>

        <div class="nav-toggle" id="nav-toggle">
            <i class="ri-menu-fill"></i>
        </div>
    </nav>
    </div>