<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vini Mini</title>

        <!-- Link to the stylesheet -->
        <link rel="stylesheet" href="/style.css" />

        <!-- Link to the Montserrat font -->
        <link href="http://fonts.googleapis.com/css?family=Montserrat:regular" rel="stylesheet" type="text/css" />

        <!-- Link to Fontawesome icons -->
        <script src="https://kit.fontawesome.com/dbf182c521.js" crossorigin="anonymous"></script>

        <!-- Link to the Javascript script -->
        <script src="script.js"></script>

        <!-- Link to the Swiper.js -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    </head>
    <body>
        <header>
            <p>GEEN VERZENDKOSTEN bij aankoop van mijn eerste pinda in 3 of 6 stappen + mijn eerste pinda Opvolgkit</p>
        </header>
        <!--Nav-->
        <nav>
            <img src="/logo.png" loading="lazy" alt="logo" width="300" height="300" />
            <div class="nav-menu">
                <div class="nav-links">
                    <ul>
                        <li><a href="">Voor Mini </a></li>
                        <li><a href="">Producten </a></li>
                        <li><a href="">Reviews</a></li>
                        <li><a href="">Nieuws </a></li>
                        <li><a href="">Contact </a></li>
                    </ul>
                </div>
            </div>

            <div class="navbar">
                <a href="#"><i class="fa fa-fw fa-user"></i></a>
                <a href="#"><i class="fa fa-shopping-cart"></i></a>
            </div>
        </nav>
        
