<!DOCTYPE html>
<html lang="nl">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Vini Mini</title>
<link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
            <p>📨GEEN VERZENDKOSTEN bij aankoop van mijn eerste pinda in 3 of 6 stappen + mijn eerste pinda Opvolgkit📨</p>
        </header> 
             <!--Nav-->
             <nav>
                <img src="logo.png" loading="lazy" alt="logo" width="50" height="50">
                <ul class="navbar-items">
                    <li><a href="#" class="nav-content">Voor Mini</a></li>
                    <li><a href="#" class="nav-content">Vini Mini Producten</a></li>
                    <li><a href="#" class="nav-content">Over ons</a></li>
                    <li><a href="#" class="nav-content">Nieuws</a></li>
                    <li><a href="#" class="nav-content">Contact</a></li>
                    <li><a href="#" class="nav-content">Zoeken</a></li>
                </ul>
            </nav> 
    <main>