* {
	box-sizing: border-box;
	margin: 0;
}

a {
    color: var(--c-invert);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Standaard eigen waardes */
:root {
    /* animaties */
    --a-quick: 0.2s;
    --a-default: 0.3s;
    --a-medium: 0.6s;
    --a-large: 1s;

    /* eenheden */
    --u-nano: 0.125em;
    --u-micro: 0.25em;
    --u-small: 0.4em;
    --u-medium: 0.5em;
    --u-default: 1em;
    --u-large: 2em;
    --u-round: 50%;

    --u-interactive: 44px;

    /* lay-out */
    --w-quarter: 25vw;
    --w-third: 33vw;
    --w-half: 50vw;
    --w-full: 100%;

    /* kleuren */
    --c-primary-150: #600;
    --c-primary-100: #f00;
    --c-primary-50: #fcd9d9;
    --c-default: #fff;
    --c-accent-25: #f4f4f4;
    --c-accent-50: #e1e1e1;
    --c-accent-75: #c8c8c8;
    --c-accent-100: #999;
    --c-invert: #111;
    --c-succes: #58ab3c;
}

::selection {
	background-color: var(--c-primary-100);
	color: var(--c-default);
}

html {
	font-family: "avenir", "arial", sans-serif;
	font-variant-ligatures: common-ligatures;
}

body {
	background-color: var(--c-default);
	position: relative;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: var(--u-default);
    box-shadow: 0px var(--u-micro) 10px 2px rgba(51, 51, 51, 0.33);
}

header #logo svg {
    height: var(--u-large);
    fill: var(--c-primary-100);
    opacity: 1;
    transition: var(--a-quick);
}

header #logo:hover svg {
    opacity: 0.4;
}

header nav {
    display: none;
}

header ul {
    display: flex;
    gap: var(--u-default);
}

header a {
    font-weight: 500;
    transition: var(--a-quick);
}

header a:hover {
    color: #f00;
}

header a:focus {
    text-decoration: underline; 
}

header a:active {
    text-decoration: underline;
}

/* Layout */

aside {
    width: 15em;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--c-accent-75);
    padding: var(--u-default);
    position: absolute;
    top: 0;
    left: -14em;
    transition: var(--a-default);
}

aside:hover {
    left: 0;
}

aside::after {
    content: '';
    display: block;
    width: 2.5em;
    height: 2em;
    background-color: var(--c-accent-75);
    position: absolute;
    top: 40%;
    bottom: 50%;
    right: -2.5em;
    clip-path: polygon(100% 0%, 50% 50%, 100% 100%, 0 100%, 0 50%, 0 0);
}

ul {
    padding: 0;
    gap: var(--u-default);
}

li {
    color: var(--c-accent-25);
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--u-default);
}

/* Interactions */

a {
    cursor: pointer;
}

@media (min-width: 20em) {
    header {

    }
}

@media (min-width: 48em) {
    header {
        padding: var(--u-default) var(--u-large);
    }

    header nav {
        display: flex;
    }

    header .menu {
        display: none;
    }
}


@media (prefers-reduced-motion) {
    /* styles to apply if the user's settings are set to reduced motion */
    :root {
        /* animaties */
        --a-quick: 0.01s;
        --a-default: 0.01s;
        --a-medium: 0.01s;
        --a-large: 0.01s;
  }
}

@font-face {
    font-family: "amsterdam-sans";
    src: local("Amsterdam Sans"),
      url("trickster-COLRv1.otf") format("opentype");
  }
  