/* ======================= FORM ======================= */

.studyplace {
    width: 10em;
    display: block;
}

fieldset {
    display: flex;
    flex-direction: column;
}

form.form-studyplace input {
    margin-bottom: var(--u-default);
}

form.form-studyplace, form.form-reservate {
    border: var(--u-nano) solid var(--c-accent-25);
    width: 100%;
    display: block;
    padding: var(--u-medium);
    box-shadow: 0 var(--u-small) var(--u-small) 0 rgba(0,0,0,0.33);
}

fieldset {
    border: var(--u-nano) solid var(--c-accent-50);
    display: flex;
    flex-direction: column;
}

.form-studyplace, .form-reservate label {
    margin-bottom: var(--u-small);
}

.form-studyplace, .form-reservate input {
    margin-bottom: var(--u-default);
}

.form-button-submit {
    background-color: var(--c-accent-100);
    color: var(--c-default);
    margin: var(--u-default) 0;
    padding: var(--u-medium) var(--u-default);
    transition: var(--a-quick) ease-in-out;
}

.form-button-submit:hover {
    background-color: red;
}   

.form-button-submit:focus {
    background-color: red;
}   

/* EXTRA SMALL SCREEN 560px */
@media (min-width: 20em) {

    form.form-studyplace {
        width: 20em;
    }
    
    }

    /* SMALL SCREEN 560px */
@media (min-width: 35em) {

        /* ========= FORM ========= */

        .studyplace {
            width: 20em;
            display: block;
        }
}

@media (min-width: 37.5em)  {

    form.form-studyplace, form.form-reservate {
        width: 25em;
    }

    /* ========= FORM ========= */

        .studyplace {
            width: 25em;
            display: block;
        }
}