.start.page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/images/vervoerregio-amsterdam-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 70px - 6rem);
  height: calc(100svh - 70px - 6rem);
  min-height: 400px;
  max-height: 800px;
  position: relative;
  /* justify-content: center; */
  margin-bottom: 6em;
  padding: calc(3rem + 1rem) var(--body-padding) 0 var(--body-padding);
}

.start.page::before {
  content: "";
  height: 3em;
  width: 100%;
  background: rgb(185, 0, 95);
  background: linear-gradient(
    90deg,
    rgba(185, 0, 95, 1) 0%,
    rgba(227, 0, 89, 0) 100%
  );
  position: absolute;
  left: 0;
  bottom: 0em;
}

.start.page::after {
  content: "";
  height: 6em;
  width: 100%;
  background: rgb(185, 0, 95);
  background: linear-gradient(
    90deg,
    rgba(185, 0, 95, 1) 0%,
    rgba(227, 0, 89, 1) 100%
  );

  position: absolute;
  left: 0;
  bottom: -6em;
}

@media screen and (min-width: 770px) {
  .start.page {
    height: 50vh;
    height: 50Svh;
  }
}