<%- include('./partials/head') %>

<main class="checkout">
    <!-- Header start -->
    <header class="top-page">
        <!-- Mini navigation -->
        <div class="mini-nav">
            <a class="mini-nav-links" href="/index">Home</a>
            <i class="fa-solid fa-chevron-right fa-2xs" style="color: #a9a1a1"></i>
            <a class="mini-nav-links" href="/checkout">Winkelwagen</a>
        </div>

        <!-- Free shipment warning  -->
        <div class="warning">
            <p class="warning-desc">Bestel voor <span>€5,53</span> meer en ontvang <span>gratis standaard levering.</span></p>
        </div>

        <h1 class="page-title">Je winkelwagen</h1>

        <!-- Buttons for checkout and continue shopping -->
        <div class="buttons">
            <a href="#" class="check-out-order">Bestelling afrekenen</a>
            <a href="#" class="continue-shop">Verder winkelen</a>
        </div>
    </header>

    <!-- Header end -->

    <!-- Section overview order start -->
    <section class="overview-order">
        <!-- Product -->
        <div class="gap">
            <!-- Present -->
            <div class="present">
                <h2 class="present-title">Gratis cadeau!</h2>
                <p class="present-desc">Bij besteding van &euro; 35,00 of meer.</p>

                <div class="progress">
                    <div class="bar"></div>
                </div>

                <p class="present-desc-2">Besteed &euro; <span>20,05</span> meer en ontvang een <span>gratis cadeau</span> voor je mini!</p>
            </div>

            <div class="border">
                <div class="overview-product">
                    <img src="/img/pinda-3-stappen.png" class="product-img" alt="Product titel afbeelding" width="60em" height="60em" />
                    <h2 class="product-title"><%= product.titel %></h2>

                    <div class="edit-buttons">
                        <a href="#" class="edit">Bewerken &vert;</a>
                        <a href="#" class="delete"> Verwijderen</a>
                    </div>

                    <h2 class="price">&euro; 14,95</h2>

                    <div class="add-more-amount">
                        <button class="min"><i class="fa-solid fa-minus" style="color: #ffffff"></i></button>
                        <p class="amount">1</p>
                        <button class="plus"><i class="fa-solid fa-plus" style="color: #ffffff"></i></button>
                    </div>
                </div>
            </div>

            <!-- Coupon -->
            <div class="coupon-code">
                <h2>Kortingscode</h2>
                <form action="#" class="add-coupon-code">
                    <input class="coupon-field" type="text" placeholder="Voer je code in" title="Voer je code in" />
                    <input class="apply-code" type="submit" value="Toepassen" title="Pas je code toe" />
                </form>
            </div>
        </div>

        <!-- Overview desktop version -->
        <div class="side-by-side">
            <table class="mobile-overview-product">
                <thead>
                    <tr>
                        <th>Artikel</th>
                        <th>Artikel prijs</th>
                        <th>Hoeveelheid</th>
                        <th>Totaal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="/img/pinda-3-stappen.png" class="product-img" alt="Product titel afbeelding" width="60em" height="60em" /></td>
                        <td><h2 class="price">&euro; 14,95</h2></td>
                        <td>
                            <div class="add-more-amount">
                                <button class="min"><i class="fa-solid fa-minus" style="color: #ffffff"></i></button>
                                <p class="amount">1</p>
                                <button class="plus"><i class="fa-solid fa-plus" style="color: #ffffff"></i></button>
                            </div>
                        </td>
                        <td class="space"><h2 class="price">&euro; 14,95</h2></td>
                    </tr>
                </tbody>
            </table>

            <!-- Overview shopping cart with total costs start -->
            <div class="overview-costs">
                <h2 class="title-left">Overzicht</h2>
                <h2 class="title-right">1 ARTIKEL</h2>

                <div class="line-divider"></div>

                <h2 class="title-left">Subtotaal:</h2>
                <h2 class="title-right">&euro; 14,95</h2>

                <h2 class="title-left">Levering:</h2>
                <h2 class="title-right">&euro; 4,15</h2>

                <a href="#" class="delivery-options">Aflever opties</a>

                <div class="line-divider"></div>

                <h2 class="title-left">Totaal bestelling:</h2>
                <h2 class="title-right">&euro; 19,10</h2>

                <!-- <button class="check-out-button">Bestelling afrekenen</button> -->
                <div class="finish-order">
                    <a href="#" class="finish-order-button">Bestelling afrekenen</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Section overview order end -->

    <!-- Recommended products start -->
    <!-- <section class="featured-products-section">
        <div class="featured-products-row">
            <h2 class="featured-title">Aanbevolen producten</h2>
            <div class="item">
                <img src="/img/pinda-6-stappen.png" class="img-product-1" alt="Product 1 afbeelding" width="80em" height="80em" />
                <h2 class="title-product-1">Mijn eerste pinda in 6 stappen</h2>
                <h2 class="featured-products-price">&euro; 14,95</h2>
                <ul class="star-review">
                    <li><i class="fa-sharp fa-solid fa-star" style="color: #f4eb35"></i></li>
                    <li><i class="fa-sharp fa-solid fa-star" style="color: #f4eb35"></i></li>
                    <li><i class="fa-sharp fa-solid fa-star" style="color: #f4eb35"></i></li>
                    <li><i class="fa-sharp fa-solid fa-star" style="color: #f4eb35"></i></li>
                    <li><i class="fa-sharp fa-solid fa-star" style="color: #f4eb35"></i></li>
                </ul>

                <a href="#" class="featured-products-button">Toevoegen aan winkelwagen</a>
            </div>

            <div class="item">
                <img src="/img/pindaflip.png" class="img-product-2" alt="Product 2 afbeelding" width="80em" height="80em" />
                <h2 class="title-product-2">Pinda flips</h2>
                <h2 class="featured-products-price">&euro; 1,99</h2>
                <ul class="star-review">
                    <li><i class="fa-sharp fa-solid fa-star" style="color: #f4eb35"></i></li>
                    <li><i class="fa-sharp fa-solid fa-star" style="color: #f4eb35"></i></li>
                    <li><i class="fa-sharp fa-solid fa-star" style="color: #f4eb35"></i></li>
                    <li><i class="fa-sharp fa-solid fa-star" style="color: #d9d9d9"></i></li>
                    <li><i class="fa-sharp fa-solid fa-star" style="color: #d9d9d9"></i></li>
                </ul>

                <a href="#" class="featured-products-button">Toevoegen aan winkelwagen</a>
            </div>

            <div class="item">
                <img src="/img/pinda-opvolgkit.png" class="img-product-3" alt="Product 3 afbeelding" width="120em" height="80em" />
                <h2 class="title-product-3">Pinda opvolgkit</h2>
                <h2 class="featured-products-price">&euro; 19,95</h2>
                <ul class="star-review">
                    <li><i class="fa-sharp fa-solid fa-star" style="color: #f4eb35"></i></li>
                    <li><i class="fa-sharp fa-solid fa-star" style="color: #f4eb35"></i></li>
                    <li><i class="fa-sharp fa-solid fa-star" style="color: #f4eb35"></i></li>
                    <li><i class="fa-sharp fa-solid fa-star" style="color: #f4eb35"></i></li>
                    <li><i class="fa-sharp fa-solid fa-star" style="color: #d9d9d9"></i></li>
                </ul>

                <a href="#" class="featured-products-button">Toevoegen aan winkelwagen</a>
            </div>
        </div>
    </section> -->
    <!-- Recommended products end -->
</main>

<%- include('./partials/foot') %>
