<%- include('./partials/head.ejs') %>

<section class="detail-main">
    <h1>OBA Roelof Hartplein</h1>
    <p>430, 1071 TT Amsterdam</p>
    <div>
        <img class="detail-image" src="https://media.graphassets.com/VwMnUsECTYe18QHwPQ6E" alt="Roelof image">
    </div>
    
</section>

<section class="detail-section">
    <h1 class="detail-h1">Reserveer hier je studieplek!</h1>
    <article class="detail-sub">
      <p class="detail-label">Datum:</p>
      <input type="date" class="detail-input">
      <p class="detail-label">Aantal personen:</p>
      <input type="number" class="detail-input">
      <button class="detail-button">Reserveer</button>
      <p class="detail-plek">Plek beschikbaar: 10</p>
    </article>
  </section>


<%- include('./partials/foot.ejs') %>