<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Visual Thinking</title>
    <link rel="stylesheet" href="https://use.typekit.net/brx3lyu.css" />
    <!-- rigid square font -->
    <link rel="stylesheet" href="https://use.typekit.net/kdb0mcl.css" />
    <!-- yrsa font -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <script src="/script.js" defer></script>
  </head>
  <body>

    <% if (container) { %>
      <div class="container">
    <% } %>

    <header>
      <a href=""><img src="" alt="" class="logo"></a>
      <section class="right">
        <button><img src="" alt="" class="search"></button>
        <a href="" class="over">Over</a>
        <a href="" class="blog">Blog</a>
        <button><img src="" alt="" class="profiel"></button>
      </section>
    </header>