<%- include('./partials/head.ejs') %>

    <aside class="sidebar">

    </aside>

    <section class="live-score">
        <img src="assets/ultitv-team1-logo.svg">
        <img src="assets/ultitv-team2-logo.svg">

    </section>

    <section class="score-history">

    </section>

    <section class="players-team-one">

    </section>

    <section class="players-team-two">

    </section>

    <%- include('./partials/foot.ejs') %>