<%- include('./partials/head') %>

<!-- Header -->
<header>
    <div class="box-shadow-header"></div>
    <img class="logo" src="/assets/logo.png" alt="logo" width="30px">
    <ul class="ul-game-info"> 
      <li class="li-game-info"><h1>Mixed</h1></li>
      <li class="li-game-info"><h1>Grand Final</h1></li>
      <li class="li-game-info"><h1>New Street Mega Bowl</h1></li>
      <li class="li-game-info"><h1>Azure User Group</h1></li>
      <li class="li-game-info"><h1>943</h1></li>
    </ul>
</header>

<main>
  <!-- Game score -->
  <section class="game-score">

    <div class="container-flag-country">
      <img class="game-score-flag" src="/assets/Netherlands.svg.webp" alt="" width="150px">
      <p class="game-score-country">Netherlands</p>
    </div>

    <div class="container-score-minutes">
      <h2 class="score-board-score">3-4</h2>
      <p class="score-board-minutes">45'</p>
    </div>

    <div class="container-flag-country">
      <img class="game-score-flag" src="/assets/Portugal.svg.webp" alt="" width="150px">
      <p class="game-score-country">Portugal</p>
    </div>

  </section>

  <!-- Navigation -->
  <nav class="navigation">
    <ul class="ul-nav">
      <li class="nav-items">Score</li>
      <li class="nav-items">Players</li>
      <li class="nav-items">Stats</li>
    </ul>
  </nav>

  <!-- Scoreboard -->
  <section class="scoreboard">

  </section>

  <!-- Players -->
  <section class="players">

  </section>
</main>

<%- include('./partials/footer') %>
