<%- include('./partials/head') %>

<!-- De opmaak van de header  -->
<%- include('./partials/header') %>

<main>
    [...]
</main>

<!-- De opmaak van de footer  -->
<%- include('./partials/foot') %>
