<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#D4005B" />

    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/styles.css" />

    <script src="scripts/scripts.js"></script>

    <title><%- title %></title>
  </head>
  <body>
    <%- include(template) %>
  </body>
</html>

