<%- include('./partials/head.ejs') %>

<div class="box1">
<div class="accountOverzicht">
    <h1>Account Overzicht</h1>
    <ul>
        <li><span>Naam:</span> Pieter</li>
        <li><span>Achternaam:</span> Parker</li>
        <li><span>Email:</span> pietparker@gmail.com</li>
        <li><span>Telefoon-n:</span> 07 90 03 30 20</li>
        <li><span>Mini-naam:</span> Pepijn </li>
    </ul>
</div>
</div>

<div class="box2">
    <div class="miniProfiel">
        <h1>Mini | Profiel</h1>
        <a href="/proces" class="btn"> Proces </a>
        <a href="/agenda" class="btn"> Agenda </a>
</div>
</div>
  

<%- include('./partials/foot.ejs') %>