<%- include('./partials/head') %>

<!-- De opmaak van de header  -->
<%- include('./partials/header') %>

<aside>
	<nav>
		<ul>
			<li>
                <a href="">
                <svg width="44" height="44" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 12C9.44772 12 9 12.4477 9 13C9 13.5523 9.44772 14 10 14H14C14.5523 14 15 13.5523 15 13C15 12.4477 14.5523 12 14 12H10Z" fill=""/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2 8C2 8.74028 2.4022 9.38663 3 9.73244V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V9.73244C21.5978 9.38663 22 8.74028 22 8V5C22 3.89543 21.1046 3 20 3H4C2.89543 3 2 3.89543 2 5V8ZM4 5L4 8H20V5H4ZM19 10H5L5 19H19V10Z" fill=""/>
                </svg>
				Collectie
                </a>
			</li>
			<li>
                <a href="">
				<svg
					width="44"
					height="44"
					viewBox="0 0 44 44"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M29.3334 18.3333C29.3334 19.3459 28.5126 20.1667 27.5001 20.1667H16.5001C15.4876 20.1667 14.6667 19.3459 14.6667 18.3333C14.6667 17.3208 15.4876 16.5 16.5001 16.5H27.5001C28.5126 16.5 29.3334 17.3208 29.3334 18.3333Z"
						fill="white"
					/>
					<path
						d="M25.6667 25.6667C25.6667 26.6792 24.846 27.5 23.8334 27.5H16.5001C15.4876 27.5 14.6667 26.6792 14.6667 25.6667C14.6667 24.6541 15.4876 23.8333 16.5001 23.8333H23.8334C24.846 23.8333 25.6667 24.6541 25.6667 25.6667Z"
						fill="white"
					/>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M18.3333 1.83334C16.3082 1.83334 14.6666 3.47497 14.6666 5.50001H10.9999C8.97487 5.50001 7.33325 7.14163 7.33325 9.16668V36.6667C7.33325 38.6918 8.97487 40.3333 10.9999 40.3333H32.9999C35.025 40.3333 36.6666 38.6918 36.6666 36.6667V9.16668C36.6666 7.14163 35.025 5.50001 32.9999 5.50001H29.3333C29.3333 3.47497 27.6917 1.83334 25.6666 1.83334H18.3333ZM29.3333 9.16668C29.3333 11.1917 27.6917 12.8333 25.6666 12.8333H18.3333C16.3082 12.8333 14.6666 11.1917 14.6666 9.16668H10.9999V36.6667H32.9999V9.16668H29.3333ZM18.3333 5.50001H25.6666V9.16668H18.3333V5.50001Z"
						fill="white"
					/>
				</svg>
				Activiteiten
                </a>
			</li>
			<li>
                <a href="">
				<svg
					width="44"
					height="44"
					viewBox="0 0 44 44"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<g clip-path="url(#clip0_144_113)">
						<path
							d="M24.2499 21.3787L27.3785 18.25C27.9644 17.6642 28.914 17.6642 29.4999 18.25C30.0857 18.8358 30.0857 19.7855 29.4999 20.3713L25.3106 24.5607C25.0292 24.8419 24.6477 25 24.2498 25C23.852 25 23.4705 24.8419 23.1891 24.5607L19.7499 21.1213L16.6212 24.25C16.0354 24.8358 15.0857 24.8358 14.4999 24.25C13.9141 23.6643 13.9141 22.7145 14.4999 22.1287L18.6892 17.9394C18.9705 17.658 19.3521 17.5 19.7499 17.5C20.1477 17.5 20.5293 17.658 20.8106 17.9394L24.2499 21.3787Z"
							fill="white"
						/>
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M22 4C21.0059 4 20.2 4.79445 20.2 5.77443V7.54887H7.6C5.61177 7.54887 4 9.13775 4 11.0977V30.6165C4 32.5766 5.61177 34.1654 7.6 34.1654H12.0976L9.36801 38.84C8.87206 39.6894 9.16847 40.7743 10.03 41.2631C10.8916 41.752 11.9921 41.4599 12.488 40.6105L16.2514 34.1654H27.8387L31.6021 40.6105C32.098 41.4599 33.1985 41.752 34.06 41.2631C34.9217 40.7743 35.2179 39.6894 34.722 38.8401L31.9925 34.1654H36.4C38.3883 34.1654 40 32.5766 40 30.6165V11.0977C40 9.13775 38.3883 7.54887 36.4 7.54887H23.8V5.77443C23.8 4.79445 22.9941 4 22 4ZM7.6 11.0977V30.6165H36.4V11.0977H7.6Z"
							fill="white"
						/>
					</g>
					<defs>
						<clipPath id="clip0_144_113">
							<rect
								width="36"
								height="36"
								fill="white"
								transform="translate(4 4)"
							/>
						</clipPath>
					</defs>
				</svg>
				Cursussen
            </a>
			</li>
			<li>
                <a href="">
				<svg
					width="44"
					height="44"
					viewBox="0 0 44 44"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<g clip-path="url(#clip0_144_114)">
						<mask
							id="mask0_144_114"
							style="mask-type: luminance"
							maskUnits="userSpaceOnUse"
							x="0"
							y="0"
							width="44"
							height="44"
						>
							<path d="M44 0H0V44H44V0Z" fill="white" />
						</mask>
						<g mask="url(#mask0_144_114)">
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M12.8333 19.25C16.6302 19.25 19.7083 16.172 19.7083 12.375C19.7083 8.57804 16.6302 5.5 12.8333 5.5C9.03629 5.5 5.95825 8.57804 5.95825 12.375C5.95825 16.172 9.03629 19.25 12.8333 19.25ZM12.8333 15.5833C14.6052 15.5833 16.0416 14.1469 16.0416 12.375C16.0416 10.6031 14.6052 9.16667 12.8333 9.16667C11.0613 9.16667 9.62492 10.6031 9.62492 12.375C9.62492 14.1469 11.0613 15.5833 12.8333 15.5833Z"
								fill="white"
							/>
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M38.0417 12.375C38.0417 16.172 34.9638 19.25 31.1667 19.25C27.3697 19.25 24.2917 16.172 24.2917 12.375C24.2917 8.57804 27.3697 5.5 31.1667 5.5C34.9638 5.5 38.0417 8.57804 38.0417 12.375ZM34.3751 12.375C34.3751 14.1469 32.9387 15.5833 31.1667 15.5833C29.3948 15.5833 27.9584 14.1469 27.9584 12.375C27.9584 10.6031 29.3948 9.16667 31.1667 9.16667C32.9387 9.16667 34.3751 10.6031 34.3751 12.375Z"
								fill="white"
							/>
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M28.3409 25.9899C29.2475 25.7785 30.1933 25.6667 31.1666 25.6667C34.7999 25.6667 38.0644 27.2281 40.3333 29.728V33H29.3333C29.3333 34.3358 28.9762 35.5881 28.3523 36.6667H40.3333C42.3584 36.6667 44 35.0251 44 33V29.6391C44 28.8446 43.7523 28.0625 43.2283 27.4654C40.2882 24.1149 35.9744 22 31.1666 22C29.1987 22 27.3135 22.3544 25.5713 23.0028C26.3142 23.6324 27.0094 24.3159 27.6508 25.0468C27.9148 25.3477 28.144 25.6637 28.3409 25.9899Z"
								fill="white"
							/>
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M22 36.6667C24.0251 36.6667 25.6667 35.0251 25.6667 33V29.6391C25.6667 28.8446 25.419 28.0625 24.895 27.4654C24.0392 26.4902 23.067 25.6196 22 24.8754C19.4016 23.063 16.2416 22 12.8333 22C8.02556 22 3.71178 24.1149 0.771665 27.4654C0.247676 28.0625 0 28.8446 0 29.6391V33C0 35.0251 1.64162 36.6667 3.66667 36.6667H22ZM12.8333 25.6667C16.4667 25.6667 19.7311 27.2281 22 29.728V33H3.66667V29.728C5.93556 27.2281 9.19998 25.6667 12.8333 25.6667ZM3.66703 29.6298C3.66709 29.6292 3.66701 29.63 3.66703 29.6298Z"
								fill="white"
							/>
						</g>
					</g>
					<defs>
						<clipPath id="clip0_144_114">
							<rect width="44" height="44" fill="white" />
						</clipPath>
					</defs>
				</svg>
				Over ons
                </a>
			</li>
		</ul>
	</nav>
    <a href="">
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_144_123)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9999 24.2C25.645 24.2 28.5999 21.2451 28.5999 17.6C28.5999 13.9549 25.645 11 21.9999 11C18.3548 11 15.3999 13.9549 15.3999 17.6C15.3999 21.2451 18.3548 24.2 21.9999 24.2Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M33.4646 40.7803C39.7833 36.9147 44 29.9499 44 22C44 9.84973 34.1502 0 22 0C9.84973 0 0 9.84973 0 22C0 27.4593 1.98856 32.4544 5.28088 36.3C6.11017 37.2687 7.02218 38.1643 8.00595 38.9763C11.8089 42.1146 16.6843 44 22 44C26.2005 44 30.1259 42.8228 33.4646 40.7803ZM35.5329 33.2534C38.0725 30.2027 39.6 26.2797 39.6 22C39.6 12.2798 31.7203 4.4 22 4.4C12.2798 4.4 4.4 12.2798 4.4 22C4.4 26.2797 5.92755 30.2027 8.46716 33.2534C12.1994 30.3376 16.8967 28.6 22 28.6C27.1031 28.6 31.8006 30.3376 35.5329 33.2534Z" fill="white"/>
            </g>
            <defs>
            <clipPath id="clip0_144_123">
            <rect width="44" height="44" fill="white"/>
            </clipPath>
            </defs>
        </svg>            
        inloggen
    </a>
</aside>

<main>
    [...]
</main>

<!-- De opmaak van de footer  -->
<%- include('./partials/foot') %>
