<%- include('./partials/head') %>

<!-- De opmaak van de header  -->
<%- include('./partials/header') %>

<main>
    [...]
</main>

<aside>
    <nav>
        <ul>
            <li>Collectie</li>
            <li>Activiteiten</li>
            <li>Cursussen</li>
            <li>Over ons</li>
        </ul>
    </nav>
</aside>

<div id="Geeks1">
    abvoubvo
</div>

<%- include('./partials/foot') %>