<%- include('./partials/header') %>

<!-- Header -->
<section class="heading">
    
</section>

<main>
  <!-- Game score -->
  <section class="game-score">

  </section>

  <!-- Navigation -->
  <section class="navigation">

  </section>

  <!-- Scoreboard -->
  <section class="scoreboard">

  </section>

  <!-- Players -->
  <section class="players">

  </section>
</main>

<%- include('./partials/footer') %>
