<%- include('./partials/head.ejs') %>



<% categories.forEach(category => { %>

    <% if(category.titel === "Pinda" || category.titel === "Ei" ){ %>
        <a href="/test-producten?categorieId=<%= category.id %>"><%= category.titel %></a>
    <% } %>

<% }); %>



<%- include('./partials/foot.ejs') %>