<%- include('./head', {container:true}) %>

<main class="index">
  <section class="line-1">
    <div class="hexagon-dark"></div>
    <div class="hexagon-light"></div>
    <div class="hexagon-dark"></div>
    <div class="hexagon-half-left hexagon-half-dark-left"></div>
  </section>

  <section class="line-2">
    <div class="hexagon-half-right hexagon-half-light-right"></div>
    <div class="hexagon-dark"></div>
    <div class="hexagon-dark">
      <div class="label-card">
        <h1 class="title">Visual Thinking in het HBO</h1>
      </div>
    </div>
    <div class="hexagon-dark">
      <div class="card-border">
        <div class="content-card">
          <h3>Blog</h3>
          <p>Wat is Visual Thinking?</p>
          <button>></button>
        </div>
      </div>
    </div>
  </section>

  <!--

    <div class="hexagon content-card">
      <h3>Blog</h3>
      <p></p>
      <button>></button>
    </div>
    <div class="hexagon content-card">
      <h3>Blog</h3>
      <p></p>
      <button>></button>
    </div>
    <div class="hexagon content-card">
      <h3>Blog</h3>
      <p></p>
      <button>></button>
    </div>
    <div class="card-double">
      <h2>Meer informatie? Check de blog!</h2>
      <button>></button>
    </div>

    <div class="card-triple">
      <h2>Welke categorieën zijn er allemaal?</h2>
    </div>
    <div class="hexagon">
      <img src="" alt=""></img>
      <button>></button>
    </div>
    <div class="hexagon">
      <img src="" alt=""></img>
      <button>></button>
    </div>
    <div class="hexagon">
      <img src="" alt=""></img>
      <button>></button>
    </div>
    <div class="hexagon">
      <img src="" alt=""></img>
      <button>></button>
    </div>
    <div class="hexagon">
      <img src="" alt=""></img>
      <button>></button>
    </div>
    <div class="hexagon">
      <img src="" alt=""></img>
      <button>></button>
    </div> -->
</main>

<a href="./overviewpage">naar overzichtspagina</a>
<script src="scripts/index.js" defer></script>

<%- include('./foot') %>