<%- include('./partials/head') %>

<!-- De opmaak van de header  -->
<%- include('./partials/header') %>

<link rel="stylesheet" href="./style/reservations.css" />

<main>
    <section>
        <h1>Reserveer een studieplek</h1>
    </section>
    <section class="section-studyplace">
        <form class="form-studyplace">
            <fieldset>
                <legend>Datum & tijd</legend>
                <label for="date">
                    Wanneer wilt u reserveren?
                </label>
                <input id="date" type="datetime-local" required />
            </fieldset>
            <fieldset>
                <legend>Locatie</legend>
                <label>Bij welke vestiging wilt u reserveren?</label>
                <select>
                <option></option>
            </select>
            </fieldset>
            <button class="form-button-submit" type="submit">Verzenden</button>
        </form>
    </section>
</main>

<%- include('./partials/foot') %>