<section class="start page">
  <header class="page__header">
    <h1 class="text-color">Maak het web <br><span>Toegankelijk</span></h1>
    <p class="text-color">Samen met deze toegankelijkheids-tool maakt u eenvouding websites en apps toegankelijker</p>
  </header>
  <div class="page__header__image">
    <picture>
      <source type="image/avif" media="(min-width: 36em)" srcset="../images/header-woman-extra-large.avif 1024w,
              ../images/header-woman-medium.avif 640w,
              ../images/header-woman-small.avif  320w" sizes="33.3vw" />
    
      <source type="image/webp" media="(min-width: 36em)" srcset="../images/header-woman-extra-large.webp 1024w,
              ../images/header-woman-medium.webp 640w,
              ../images/header-woman-small.webp  320w" sizes="33.3vw" />
    
      <source type="image/png" media="(min-width: 36em)" srcset="../images/header-woman-extra-large.png 1024w,
              ../images/header-woman-medium.png 640w,
              ../images/header-woman-small.png  320w" sizes="33.3vw" />
    
      <!-- <source srcset="cropped-large.jpg 2x, cropped-small.jpg 1x" /> -->
      <img src="../images/header-woman-small.png" alt="" width="691" height="1100"/>
    </picture>
  </div>
</section>
<section class="page__content">
  <h2>Waarom toegankelijk?</h2>
  <div class="content__container">
    <p><b>Is uw website al digitaal toegankelijk voor iedereen?</b><br>
      Dat moet al of moet binnen 2 jaar! Voor overheden is dit al verplicht. En vanaf 2025 mo et iedere nieuwe website en app digitaal toegankelijk zijn.</p>
  </div>
  <div class="content__container">
    <p><b>Wat kunt u doen om uw website toegankelijk te maken?</b><br>
      De Vervoerregio Amsterdam heeft samen met studenten van de Hogeschool van Amsterdam een checklist ontwikkeld waarin op eenvoudige wijze wordt uitgelegd wat hierbij komt kijken en welke stappen u kunt nemen om uw website en app toegankelijk te maken.</p>
  </div>
  <div class="content__container">
    <p><b>Wat is de wettelijke achtergrond?</b><br>
      In Nederland zijn er ca. 2 miljoen mensen met een beperking. Als deze mensen uw website of app niet kunnen gebruiken, dan zorgt dat dat deze mensen worden uitgesloten van de samenleving. Medio 2025 wordt om die reden door de Europese Unie de European Accessibility Act (EAA) of Europese Toegankelijkheidswet ingevoerd. De wet zorgt ervoor dat digitale barrières worden verwijderd voor mensen met een beperking. De eisen zijn gebaseerd op de Web Content Accessibility Guidelines (WCAG) van het World Wide Web Consortium</p>
  </div>
</section>
