<div class="hero">
  <section class="hero-title">
    <h1>Hallo Wereld</h1>
  </section>
  <section class="bottom-bar">
    <div class="bottom-bar-verloop"></div>
    <div class="bottom-bar-box"></div>
  </section>
</div>

