<%- include('./partials/head.ejs') %>
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success pagina</title>
    <link rel="stylesheet" href="succes.css">
</head>
<body>
    <div>
        <h1>
            Goed nieuws!
        </h1>
    </div>
    <article>
        <h2>Het is u gelukt om een plek te reserveren!
        </h2>
        <h3>
            Wij wensen je een fijne studie sessie!
        </h3>
    </article>
        
    <a href="/home">Home</a>
</body>
</html>

<%- include('./partials/foot.ejs') %>