:root {
    --primary: rgb(255, 0, 0);
    --dark-primary: #e30b0b;
}

* {
    font-family: Arial, Regular;
    color: #000000;
}

/* NAVIGATIE */
nav ul{
    list-style-type: none;
    display: block;
    padding-bottom: 100px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    line-height: 26px;
    text-transform: lowercase;
    text-decoration: none;
}

li{
    display: inline;
    padding: 30px;
}

#dev a{
    text-decoration: none;
    color: #000000;   
}

#dev a:hover{
color:red;
}

@media (max-width: 1100px){
    li{
        padding: 10px;
    }
}

@media (max-width: 1100px){
    #dev ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
          "nav1 nav2"
          "nav3 nav4"
          "nav5 nav6";
        padding: 5px;
        gap: 5px;
    }
}

.nav1{
    grid-area: nav1;
}

.nav2{
    grid-area: nav2;
}

.nav3{
    grid-area: nav3;
}

.nav4{
    grid-area: nav4;
}

.nav5{
    grid-area: nav5;
}

.nav6{
    grid-area: nav6;
}

/* LOGO */
.oba{
    margin-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-left: 10%;
    font-size: 80px;
    font-family: avenir var(--primary);
    color: var(--primary);
} 

/* HOME PAGE */
.zoekveld-text{
    text-align: center;
    margin: auto;
    width: 59%;
}

.overzichtspagina-section{
    margin: 100px 0 100px 0;
    padding: 0 50px 0 50px;
}

.search{
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
  
  .search-input{
    padding: 10px;
    width: 300px;
  }
  
  .search-btn{
    padding: 10px;
    margin-left: 8px;
  }
  
.overzicht{
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.skewed {
    width: 37em;
    color: white;
    display: flex;
    background: #B22222;
    box-shadow: 0 0 15px rbgd(0, 0, 0, 0.7);
}
.zoekveld-text h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.skewed p {
    font-size: 0.9em;
    line-height: 23px;
    color: white;
}

.skewed h2 {
    margin: 0;
    color: white;
}

.skewed small{
    color: white;
}

.text {
    padding: 1.5em;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    color: white;
}

.skewed a {
    color: white;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 2px dashed ;
}

.skewed .image {
    width: 78%;
    height: 15em;
    position: relative;
    overflow: hidden;
}

.skewed img {
    width: 140%;
}

.skewed .image::before {
    content: '';
    position: absolute;
    left: -6.1em;
    top: 50%;
    transform: translateY(-50%) rotate(20deg);
    background: #B22222;
    width: 40%;
    height: 140%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 750px) {
    .skewed {
        display: block;
        width: 20em;
    }
    .skewed .image, .text {
        width: 100%;
    }
    .skewed img {
        width: 160%;
    }
    .skewed .image::before {
        width: 120%;
        height: 40%;
        top: -5em;
        left: 50%;
        transform: translateX(-50%) rotate(10deg);
    }
}


/* DETAIL PAGE */


/* SUCCES PAGE */


/* FOOTER */
footer{
    height: 500px;
    background-color: black;
    padding-bottom: 0px;
}

.Hfooter{
    justify-content: center;
    text-align: center;
    color: white;
    font-size: large;
    padding-top: 10px; 
}

.Hfooter p{
   padding-left: 10%;
   font-size: 30px;
   color: white;
}

@media (min-width: 570px){
    .Hfooter{
        display: flex;
    }
}

@media (max-width: 570px){
    footer{
        height: 1400px;
    }
}

.Hfooter a{
    display: grid;
    color: white;
}

.Hfooter a:hover{
    color: var(--primary);
}

.header-link{
    float: right;
}

.aFooter{
    padding-top: 20px;
    margin-bottom: 30px;
}

@media (min-width: 850px){
    .linker-rij{
        display: flex;
    }
}

.active{
    color: var(--primary) !important;
}








/* DETAIL PAGE CSS */
.detail-image{
    width: 500px;
}

.detail-h1{
    text-align: center;
}

.detail-main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* .detail-plek{
   text-align: right;
   margin-right: 20%;
}

.detail-sub{
    margin-left: 25%;
}

.detail-button{
    margin-left: 300px;
} */



/* LOL */

.detail-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.detail-sub {
    justify-content: space-between;
    align-items: center;
  }
  
  .detail-label {
    flex: 1 0 100%;
    margin-bottom: 10px;
  }
  
  .detail-input {
    flex: 1 0 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  @media screen and (min-width: 600px) {
    .detail-label {
      flex: 1 0 30%;
      margin-bottom: 0;
      padding-right: 20px;
    }
    
    .detail-input {
      flex: 1 0 70%;
      margin-bottom: 0;
    }
    
    .detail-button {
      flex: 1 0 100%;
    }
    
    .detail-plek {
      flex: 1 0 100%;
    }
  }
  