/* Montserrat */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw0aXpsog.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

body {
    font-family: var(--body-font);
    background-color: var(--wit);
}

:root {
    /* CUSTOM PROPERTIES */
    /* Colours for specific allergies */
    --walnoot-kleur: #cd9540;
    --amandel-kleur: #f1c17e;
    --cashewnoot-kleur: #e68460;
    --ei-kleur: #f4eb34;
    --vis-kleur: #daeeee;
    --hazelnoot-kleur: #baddce;
    --pinda-kleur: #72afa6;
    --schelp-kleur: #f1c8ba;
    --soja-kleur: #eae3d2;

    /* Primaire kleuren */
    --donkerblauw: #152a45;
    --wit: #ffffff;
    --zwart: #121212;
    --grijs: #888682;
    --mini-nav-grijs: #a9a1a1;
    --licht-grijs: #eaeaea;

    /* Font Family */
    --body-font: "Montserrat";
}

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

/* Header zenit*/   
/* update*/ 
.zenit{
    width: 100%; 
    height: 3rem;
    background-color: var(--ei-kleur);
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
/* update*/ 
.para{
color: var(zwart);
font-size: 16px;
padding-top: 1rem;
font-weight: 300;
text-transform: uppercase;
text-align: center;
align-items: center;

}
/* NAV + LOGO zenit */
/* update*/ 
.logo {
    width: 85%;
    height: auto;
    justify-content: flex-start;
    display: flex;
}

nav{
    display: flex; 
    flex-flow:row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    width: 100vw;
    box-shadow: -1px 0px 8px rgba(14, 55, 63, 0.15);

}

.nav-links{
    flex: 1;
    text-align: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 2em;
    position: relative;
    letter-spacing: 0.1em;
}

.nav-links ul li a{
    color: var(--zwart);
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;

}

.nav-links ul li a:hover{
    color: var(--pinda-kleur);
}
.navbar a {
    text-align: center;
    color: var(--zwart);
    text-decoration: none;
    font-size: 25px;
    padding:15px;

}
.navbar a:hover {
    color: var(--pinda-kleur);
 }


 @media screen and (max-width: 767px) {
    .nav-menu {
        position: fixed;
        background-color: var(--wit);
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
        padding: 3rem;
        transition: .4s;
        z-index: 5;
    }
    .para{
        font-size: 12px;
    }
    .nav-links ul li{
        font-size: 10px;
    }
}
/* update zenit*/ 

.main-title {
    text-align: center;
    margin-top: 2.5rem;
    color: var(--pinda-kleur);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;

}

.omschrijving {
    padding-top: 9px;
    margin-left: 2.3rem;
    margin-right: 2.3rem;
    line-height: 1.3;
    margin-top: .75em;
    text-align: center;
    font-size: 16px;
}


.advies{
    font-size: 16px;
    padding-left: 2.3rem;
    margin-top: 1rem;
    font-style: italic;
    font-weight: 1000;
    text-align: center;
}
.grid-container{
    display: flex;
    flex-direction: row;
    color: var(--pinda-kleur);
    flex-wrap: wrap;
    justify-content: center;


}
.container-test{
    display: flex;
    flex-direction: row;
    grid-column-gap: 2rem;
    height: 15rem;
    width: 22rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: -1px 1px 1px 2px rgba(14, 55, 63, 0.15);
    color: var(--pinda-kleur);
    align-items: center;
}
.container-test a{
text-align: center;
margin-bottom: 1.5rem;
font-size: 1rem;   
 color: var(--pinda-kleur);


}
/* update zenit*/ 

.section {
    display: flex;
    flex-direction: row;
    grid-column-gap: 2rem;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
}
.product-container {
    width: 25rem;
    height: 18rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: -1px 2px 3px 3px rgba(14, 55, 63, 0.15);
  
  }

.product {
    font-size: 16px;
    font-weight: bold;
    color: var(--pinda-kleur);
    text-align: center;
}
  
  .product a {
    margin-top: 1.2em;
    font-size: 1.1rem;
    color: var(--pinda-kleur);
    text-align: center;
    transition: none;

  
  }
  .product:hover {
    transform: translateY(-.2rem);
  }

  .plaat{
   width: 275px;
   height: 200px;
   align-items: center;
  }

  .product-data {
    text-align:start;
  }
  
  .product-name {
    font-size: 1rem;
    color: var(--pinda-kleur);
  }
 
  

/* R20222 product-pagina CSS gedeelte */

/* header gedeelte roelie */

/* test responsive img roelie */

.product-pagina-img {
    width: 80%;
    height: auto;
    position: relative;
    left: -2.5rem;
}
.placeholder-img {
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.product-pagina-h1 {
    margin: 1.5rem;
    font-size: 1.5rem;
    color: var(--donkerblauw);
}
.section-header-product-page {
    display: flex;
}
.price-checkout-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    position: absolute;
    right: 1rem;
    margin-top: 2rem;
}
.checkout-button {
    background-color: var(--donkerblauw);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
    margin-top: 1rem;
    right: 1rem;
    border-radius: 3rem;
}
.product-price {
    color: var(--donkerblauw);
    font-size: 2rem;
    font-weight: 200;
}

/* beschrijving gedeelte roelie */
.product-beschrijving {
    color: var(--donkerblauw);
    border: 4px solid var(--pinda-kleur);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}
.product-beschrijving > h2,
.product-stappenplan > h2 {
    margin-bottom: 1rem;
}
.product-beschrijving > ul,
.product-beschrijving > p {
    list-style-type: none;
    margin-bottom: 1rem;
    font-size: 1rem;
    max-width: 40rem;
}
.product-beschrijving > li {
    margin-bottom: 5rem;
    max-width: 40rem;
}

/* stappenplan gedeelte roelie */

.product-stappenplan {
    color: var(--donkerblauw);
    border: 4px solid var(--ei-kleur);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}
.product-stappenplan > p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 40rem;
}

/* laatste knoppen roelie */

.last-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: 500;
}
.voeg-toe {
    color: var(--donkerblauw);
    border: 1px solid var(--donkerblauw);
    border-radius: 3rem;
    text-align: center;
    padding: 1rem;
    width: 19rem;
    margin-bottom: 1rem;
    text-decoration: none;
}
.nu-kopen {
    color: var(--wit);
    background-color: var(--donkerblauw);
    border-radius: 3rem;
    text-align: center;
    padding: 1rem;
    width: 19rem;
    text-decoration: none;
}
.else-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

/* desktop versie roelie */
.voeg-toe:hover {
    color: var(--wit);
    background-color: var(--donkerblauw);
}
.nu-kopen:hover {
    color: var(--donkerblauw);
    background-color: var(--wit);
    border: 1px solid var(--donkerblauw);
}

/* mediaqueries roelie */
@media screen and (min-width: 50em) {
    .product-pagina-img {
        max-width: 30rem;
    }
    .product-pagina-h1 {
        font-size: 3rem;
        max-width: 20rem;
        position: absolute;
        top: 15rem;
        left: calc(50% - 5rem);
        font-weight: 500;
    }
    .price-checkout-container {
        margin-top: 4.5rem;
        margin-right: 2rem;
        scale: 125%;
    }
}

@media screen and (min-width: 63em) {
    .product-pagina-img {
        left: 0;
        margin-left: 1rem;
    }

    .product-beschrijving {
        width: 45%;
    }
    .product-stappenplan {
        width: 45%;
    }
    .product-pagina-flex-container {
        display: flex;
        margin-top: 1rem;
    }
    .last-buttons {
        width: 45%;
        position: relative;
        left: calc(50% + 2rem);
    }
    .voeg-toe,
    .nu-kopen {
        width: 92%;
    }
    .else-buttons {
        width: 45%;
    }
}

/* MAIN CONTENT Amber */
.checkout {
    display: flex;
    flex-direction: column;
}

/* Header Amber */
.mini-nav > a {
    font-style: var(--mini-nav-grijs);
    text-decoration: none;
}

.mini-nav-links {
    color: var(--mini-nav-grijs);
    font-size: 0.7em;
    margin-top: 1em;
    padding: 1em;
}

/* Warning banner Amber */
.warning {
    font-size: 1em;
    background-color: var(--ei-kleur);
    border-left: 5px solid var(--donkerblauw);
    margin: 1em;
    padding: 0.5em;
    margin-top: 1.5em;
    margin-bottom: 2em;
}

.warning-desc > span {
    font-weight: 900;
}

.page-title {
    font-size: 1.5em;
    font-weight: 700;
    padding-left: 0.7em;
    text-align: left;
}

.buttons {
    margin-top: 0.4em;
    font-weight: 500;
    padding: 1em;
}

.check-out-order {
    background-color: var(--pinda-kleur);
    color: var(--wit);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.125em;
    text-decoration: none;
    border-radius: 1.875em;
    margin-bottom: 1em;
    transition: 0.3s;
}

/* nog meer code van Amber */

.continue-shop {
    border: 2px solid var(--pinda-kleur);
    color: var(--pinda-kleur);
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.125em;
    text-decoration: none;
    border-radius: 1.875em;
}

.present {
    background-color: var(--licht-grijs);
    margin: 1em;
    padding: 1em;
}

.present-title {
    font-size: 1.2em;
}

.present-desc {
    margin-top: 0.3em;
    margin-bottom: 1em;
    font-weight: 500;
}

.present-desc-2 {
    margin-top: 1em;
    font-weight: 500;
}

.present-desc-2 > span {
    font-weight: 700;
}

.progress {
    width: 100%;
    background-color: var(--wit);
    border-radius: 1em;
}

.bar {
    width: 42.7%;
    height: 30px;
    background-color: var(--pinda-kleur);
    border-radius: 1em;
}

/* Section overview order  */
.overview-order {
    margin: 0.5em;
}

.border {
    border: 2px solid rgb(232, 232, 232);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 1em 1em 1em;
}

.product-img {
    padding: 1em;
    margin-top: 1em;
}

.product-title {
    font-size: 1em;
    margin: -5em 1em 0 6em;
}

.edit-buttons {
    font-size: 0.8em;
    margin: 0.8em 0em 1em 7.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-buttons > a {
    color: var(--pinda-kleur);
    font-weight: 500;
}

.price {
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-more-amount {
    padding: 1em;
    margin: -2.3em 0em 0em 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.min,
.amount,
.plus {
    display: inline-block;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.min,
.plus {
    width: 1.9em;
    height: 1.9em;
    border: none;
    color: var(--wit);
    background-color: var(--pinda-kleur);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount {
    font-weight: 600;
    margin: 0em 0.5em 0em 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Coupon */
.coupon-code {
    background-color: var(--licht-grijs);
    margin: 2em 1em 1em 1em;
    padding: 1em;
}

.coupon-code > h2 {
    font-size: 1em;
    margin-bottom: 0.5em;
}

.coupon-field {
    font-weight: 500;
    height: 2em;
    width: 100%;
    border: none;
    margin-bottom: 1em;
}

.coupon-field:focus::placeholder {
    color: transparent;
}

.apply-code {
    font-size: 1em;
    background-color: var(--pinda-kleur);
    color: var(--wit);
    font-weight: 500;
    height: 3.125em;
    width: 100%;
    border: none;
    border-radius: 1.875em;
}

/* Overview shopping cart with total costs */
.overview-costs {
    background-color: var(--licht-grijs);
    padding: 1em;
    margin: -10em 1em 1em 1em;
    display: flex;
    flex-direction: column;
}

.title-left {
    font-size: 1em;
    text-align: left;
    margin-right: auto;
}

.title-right {
    font-size: 1em;
    text-align: right;
    margin-left: auto;
    margin-top: -1.2em;
}

.line-divider {
    border-bottom: 2px solid rgb(186, 186, 186);
    margin: 1em 0 1em 0;
}

.delivery-options {
    color: var(--pinda-kleur);
    font-size: 1em;
    font-weight: 500;
}

.finish-order {
    margin: 1em 0 0.4em 0;
    font-weight: 500;
}

.finish-order-button {
    background-color: var(--pinda-kleur);
    color: var(--wit);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.125em;
    text-decoration: none;
    border-radius: 1.875em;
}

/* Invisible table for desktop Amber*/
.mobile-overview-product {
    visibility: hidden;
}

/* MEDIA QUERIES Amber*/
@media only screen and (min-width: 500px) {
    .page-title {
        font-size: 2em;
    }
}

@media only screen and (min-width: 990px) {
    .warning {
        margin: 1em;
        padding: 1em;
        margin-top: 1.5em;
        margin-bottom: 2em;
    }

    .page-title {
        font-size: 2.25em;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        gap: 1em;
        margin-top: -3.5em;
        margin-bottom: -5em;
        position: absolute;
        right: 1em;
    }

    .buttons > a {
        width: 15em;
    }

    .overview-order {
        margin-top: 2em;
        margin-bottom: 8em;
    }

    .gap {
        display: flex;
        gap: 1em;
    }

    .present,
    .coupon-code {
        flex: 1;
    }

    .coupon-code {
        max-width: 20em;
    }

    .border {
        position: absolute;
        top: 42em;
        right: 3em;
        transform: translateY(-50%);
        width: 20em;
        margin-bottom: 2em;
        width: 100%;
        visibility: hidden;
    }

    .overview-costs {
        position: absolute;
        top: 42em;
        right: 0.5em;
        transform: translateY(-50%);
        margin-top: 2em;
        margin-bottom: 2em;
        flex-shrink: 0;
        width: 20em;
    }

    .side-by-side {
        display: flex;
        justify-content: space-between;
        gap: 1em;
    }

    /* Table visibile for desktop Amber*/
    .mobile-overview-product {
        border-collapse: collapse;
        margin: 1.1em 1em 0 1em;
        visibility: visible;
        flex-shrink: 1;
        width: 34em;
    }

    .mobile-overview-product th {
        border-bottom: 1px solid var(--donkerblauw);
        padding: 5px;
        background: var(--pinda-kleur);
    }

    .mobile-overview-product td {
        text-align: center;
        padding: 5px;
        background: var(--wit);
        color: var(--donkerblauw);
    }

    .product-title {
        margin: 1em 1em 1em 1em;
    }

    .add-more-amount {
        margin-left: -0.5em;
        margin-top: -0.1em;
    }

    .space > h2 {
        margin-right: 1em;
    }
}

@media only screen and (min-width: 1300px) {
    .checkout {
        margin-left: 5em;
        margin-right: 5em;
    }

    .buttons {
        right: 10.4em;
    }

    .overview-costs {
        right: 5.5em;
    }

    .overview-order {
        margin-bottom: 10Fem;
    }

    .mobile-overview-product {
        width: 42em;
    }
}


/* nieuwsbrief zenit */
form {
    border: 3px solid rgb(255, 255, 255);
  }
  h6{
  color:var(--pinda-kleur);
  text-align:center;
  font-size:25px;
  font-weight: bolder;
  margin-bottom: 0.5em;
  }
  .nieuws{
  color:var(--zwart);
  text-align:center;
  font-size:16px;
  }
  .container {
    padding: 20px;
  }
  
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type=checkbox] {
    margin-top: 16px;
   
  }
  label{
   font-size:16px;
   }
  input[type=submit] {
    background-color: var(--pinda-kleur);
    color: white;
    font-size: 16px;
   border-radius: 25px; 
 }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }

/* Footer zenit */

.footer {
    background-color: var(--pinda-kleur);
    padding: 1em 1em;
  }
  
  .footer-title {
    color: var(--wit);
    margin-bottom: 0.8em;
    margin-top: 2em;
  }
  
  .footer-link {
    text-decoration: none;
    color: var(--wit);
    font-weight: 300;
    line-height: 2.5;
  }
  
  .copyright {
    color: var(--donkerblauw);
    font-weight: 500;
    font-size: 0.8em;
    margin-top: 2em;
  }
  @media screen and (min-width: 1024px) {
 /* FOOTER zenit */
 footer {
    width: 100vw;
    margin-top: 2em;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-bottom: 2em;
  }

  .footer-title {
    font-size: 1.5em;
  }

  .footer-link {
    font-size: 1.1em;
    line-height: 2.5em;
  }

  .copyright {
    font-size: 1em;
    margin-left: 15em;
  }


}
 /*loader */
#preloader{
    background: #E5EFF1 url(img/loader.gif) no-repeat center center;
    background-size: 13%;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;


}