/* Montserrat */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
    font-family: var(--body-font);
    background-color: var(--wit);   
}
:root {
    /* CUSTOM PROPERTIES */
    /* Colours for specific allergies */
    --walnoot-kleur: #cd9540;
    --amandel-kleur: #f1c17e;
    --cashewnoot-kleur: #e68460;
    --ei-kleur: #f4eb34;
    --vis-kleur: #daeeee;
    --hazelnoot-kleur: #baddce;
    --pinda-kleur: #72afa6;
    --schelp-kleur: #f1c8ba;
    --soja-kleur: #eae3d2;

    /* Primaire kleuren */
    --donkerblauw: #152a45;
    --wit: #ffffff;
    --zwart: #121212;
    --licht-grijs: #888682;

    /* Font Family */
    --body-font: "Montserrat";
}


/* Header */   
header {
    width: 100vw;
    height: 3.5rem;
    background-color: var(--ei-kleur);
    position: relative;
    padding: 1rem;
}

p{
    color: var(--zwart);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 1.2em auto;
    width: 100%;
}

/* NAV + LOGO */   
.logo{
    width: 5rem;
}
.navbar-items {
    height: 5rem;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.nav-content {
    text-decoration: none;
    color: var(--zwart);
    font-size: 1.2rem;
}
 
 /* Footer */
footer {
    background-color: var(--pinda-kleur);
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--wit);
 }
 
 footer nav {
    max-width: 100vw;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 1.5rem;
    text-align: center;
 }
 
 footer nav div {
    padding-left: 60px;
    padding-top: 20px;
 }
 
 footer nav div span {
    font-weight: 900;
    padding: 5px;
 }
 
 footer nav div ul {
    padding: 5px;
    list-style: none;
 }
 
 footer nav div ul li{
    padding-top: 7px;
    padding-bottom: 7px;
 }
 
 footer nav div ul li a{
    color: var(--wit);
    text-decoration: none;
 }
 @media screen and (min-width: 950px) {
    footer  nav {
        grid-template-columns: repeat(4, 1fr);
    }
 
    footer nav div {
        padding-top: 0px;
    }
 }
 @media screen and (max-width: 550px) {
    footer  nav {
        grid-template-columns: repeat(2, 1fr);
    }
 
    footer nav div {
        padding-top: 0px;
    }
 }
 @media screen and (max-width: 350px) {
    footer  nav {
        grid-template-columns: repeat(1, 1fr);

    }
 
    footer nav div {
        padding-top: 0px;

    }
 }
 
 @media screen and (max-width: 800px) {
     .navbar-items {
         display: none;
     }
     .header{ 
        padding: 0 3rem 0 6rem;
     }
     .p{
        font: 0.75rem;
     }
 }
 
 @media screen and (min-width: 800px) {
     .navbar-icon-items {
         display: none;
     }
 }