:root {
    /* primaire kleuren */
    /* donkerblauw */
    --text-color: #090940;
    --text-color-var01: #3a3a66;
    --text-color-var02: #6b6b8c;
    --text-color-var03: #9d9db3;
    --text-color-var04: #ceced9;

    /* tekstvlakken of stroken */
    /*lichtblauw */
    --text-stroke-color: #67c5d1;
    --text-stroke-color-var01: #85d1da;
    --text-stroke-color-var02: #a4dce3;
    --text-stroke-color-var03: #c2e8ed;
    --text-stroke-color-var04: #e1f3f6;

    /* rood */
    --text-stroke-color-var05: #f96c4f;
    --text-stroke-color-var06: #fa8972;
    --text-stroke-color-var07: #fba795;
    --text-stroke-color-var08: #fdc4b9;
    --text-stroke-color-var09: #fee2dc;

    /* interactieve elementen */
    /* geel */
    --interactive-el-color: #feb51e;
    --interactive-el-color-var01: #fec44b;
    --interactive-el-color-var02: #fed378;
    --interactive-el-color-var03: #ffe1a5;
    --interactive-el-color-var04: #fff0d2;

    /* secundaire kleuren */
    --sec-colors-01: #af1301;
    --sec-colors-02: #fbc5b4;
    --sec-colors-03: #169861;
    --sec-colors-04: #63c09f;
    --sec-colors-05: #4fbbc2;
    --sec-colors-06: #31439c;
    --sec-colors-07: #8b3a00;
    --sec-colors-08: #fe6f07;


    /* grey tones */
    --grey-colors: #625c51;
    --grey-colors-01: #c0beb9;
    --grey-colors-02: #e0dedc;
    --grey-colors-03: #f9f8f8;

    --background-color: white;

    /* fonts */
    --rigid: rigid-square, sans-serif;
    --broodtekst: "yrsa", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;

    /* index variables */
    --hexagon-radius: 3rem;
    --hexagon-width: 16rem;
    --hexagon-height: 18rem;
    --hexagon-padding: 1rem;

    --card-border-width: 0.3rem;

    --line-gap: -3rem;

}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}



/* index styling */

body.index {
  background-color: white;
}

main.index {
  /* dit ziet er ingewikkeld uit, maar dit is de layout nodig voor een hexagon patroon */
  display: flex;
  flex-direction: column;
  gap: var(--line-gap);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: calc(var(--hexagon-width) * 3.5);
  background-color: var(--interactive-el-color-var03);
}

section.line-1 {
  width: calc(var(--hexagon-width) * 3.5);
  height: var(--hexagon-height);
  display: grid;
  grid-template-columns: repeat(3, 1fr) 0.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

section.line-2 {
  width: calc(var(--hexagon-width) * 3.5);
  height: var(--hexagon-height);
  display: grid;
  grid-template-columns: repeat(3, 1fr) 0.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: calc(var(--line-gap));
}

.hexagon-dark {
  display: block;
  margin-left: calc(-0.5 * var(--hexagon-radius));
  margin-right: calc(-0.5 * var(--hexagon-radius));
  margin-top: calc(-0.5 * var(--hexagon-radius));
  margin-bottom: calc(-0.5 * var(--hexagon-radius));
  width: calc(var(--hexagon-width) + var(--hexagon-radius));
  height: calc(var(--hexagon-height) + var(--hexagon-radius));
  background-color: var(--interactive-el-color-var01);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: 1;
}

.hexagon-light {
  display: block;
  margin: 0;
  width: var(--hexagon-width);
  height: var(--hexagon-height);
  background-color: var(--interactive-el-color-var03);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: 0;
}

.hexagon-half-left {
  display: block;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(100% 0, 100% 100%, 0% 75%, 0% 25%);
}

.hexagon-half-right {
  display: block;
  -webkit-clip-path: polygon(0 0, 100% 25%, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 25%, 100% 75%, 0 100%);
}

.hexagon-half-dark-left {
  width: calc(0.5 * (var(--hexagon-width) + var(--hexagon-radius)));
  height: calc(var(--hexagon-height) + var(--hexagon-radius));
  margin-left: calc(-0.5 * var(--hexagon-radius));
  margin-top: calc(-0.5 * var(--hexagon-radius));
  margin-bottom: calc(-0.5 * var(--hexagon-radius));
  background-color: var(--interactive-el-color-var01);
  z-index: 1;
}

.hexagon-half-light-right {
  width: calc(0.5 * var(--hexagon-width));
  height: var(--hexagon-height);
  margin: 0;
  background-color: var(--interactive-el-color-var03);
  z-index: 0;
}

.label-card {
  margin: auto;
  left: calc(50% - (width / 2));
  top: calc(50% - (height / 2));
  background-color: var(--background-color);
  width: calc(var(--hexagon-width) - var());
}

.card-border {
  margin: calc((var(--hexagon-padding) * 2) - var(--card-border-width)) auto;
  padding-left: var(--card-border-width);
  padding-top: var(--card-border-width);
  width: calc(var(--card-border-width) + (var(--hexagon-width) - var(--hexagon-padding)));
  height: calc(var(--card-border-width) + (var(--hexagon-height) - var(--hexagon-padding)));
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: black;
}

.content-card {
  left: calc(50% - (width / 2));
  top: calc(50% - (height / 2));
  width: calc(var(--hexagon-width) - var(--hexagon-padding));
  height: calc(var(--hexagon-height) - var(--hexagon-padding));
  display: flex;
  flex-direction: column;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: var(--interactive-el-color-var04);
  border-radius: 5px;
}

.content-card>h3 {
  display: block;
  text-align: center;
  width: 100%;
  height: 2rem;
  font-size: 1.5rem;
}

/* overviewpage styling */

.overviewpage-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-bottom: 2em;
}

.overviewpage-header a{
    color: var(--text-color);
    font-family: var(--rigid);
    font-weight: bold;
    font-size: 20px;
    margin-left: 1em;
    text-decoration: none;
}

.overviewpage-header a:hover{
    color:var(--interactive-el-color);
}

.links {
    margin-right: 3em;

}


.header-methodes h1{
  color: var(--text-color);
  font-family: var(--rigid);
  margin-left: 2em;
}

.filter-search-container{
    margin-bottom: 2em;
    margin-left: 5em;
}

.filter-search-container input {
    border: none;
    font-size: 20px;
}

.search-button{
    border: none;
    background-color: white;
}

.search-button i{
    font-size: 22px;
}

.search-button i:hover{
    color: var(--interactive-el-color);
}

hr{
 width: 90%;
 margin-left: -0.3em;
}


.categories-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-left: -2em;
}

.categories-container ul{
    list-style: none;
}


.categories-container img{
    height: auto;
    width: 100%;
}


.overviewpage-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.method-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5em 4em;

}

.method-card {
    border-left: var(--interactive-el-color) 11px solid;
    border-radius: 6px;
}

.method-card a {
    display: flex;
    flex-direction: column;
    height: 15em;
    width: 20em;
    color: var(--text-color);
    text-decoration: none;
}

.method-img {
    height: 15em;
    width: 100%;
    border-radius: 6px;
    -webkit-box-shadow: 12px 9px 11px -6px rgba(0, 0, 0, 0.37);
    box-shadow: 12px 9px 11px -6px rgba(0, 0, 0, 0.37);
}


.method-name{
    display: flex;
    justify-content: space-between;
    font-family: var(--rigid);
    font-size: 18px;
    font-weight: bold;
}

.arrow{
    height: 1em;
    width: auto;
}

.load-more{
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

.load-more-button{
    font-family: var(--rigid);
    font-weight: bold;
    border: none;
    background-color: var(--interactive-el-color);
    height: 3em;
    width: auto;
    margin-bottom: 2em;
}

.add-method-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add-method-text h2{
    font-size: 17px;
    color: var(--text-color);
    font-family: var(--broodtekst);
    width: fit-content;
}

.add-method-text img{
    position: relative;
    top: -2.8em;
    margin-left: 0.5em;
    height: auto;
    width: 4em;
}

footer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    background-color: var(--text-color-var01);
    color: var(--text-color-var04);
    margin-top: 4em;
}

footer h3{
    margin-left: 1em;
    font-family: var(--broodtekst);
    font-size: 16px;
}




/* categories colors */

.Leren-over-jezelf-en-reflecteren{
    border-left-color:var(--text-stroke-color-var01);
}

.Leren-over-anderen{
    border-left-color:var(--sec-colors-04);
}

.Creatief-denken{
    border-left-color:var(--text-stroke-color-var05);
}

.Organiseren-en-plannen{
    border-left-color:var(--sec-colors-03);
}

.Communcieren-en-presenteren{
    border-left-color:var(--sec-colors-08);
}

.Onderzoeken-en-begrijpen{
    border-left-color: var(--text-stroke-color-var07);
}


/* detailpage styling */

.backtab{
    height: 3em;
    width: 100%;
    background-color: #31439c;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.backtab h3{
    color: white;
}
.backtab img{
    margin: 1em 1em 1em 1em;
}

.nav{
    background-color: var(--text-color-var04);
    height: 4em;
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav a{
    text-decoration: none;
    font: var(--broodtekst);
    font-size: 1.6em;
    color: var(--text-color);
    font-weight: bold;
}

.nav a:hover{
    border-bottom: solid 0.1em var(--text-color);
    margin-bottom: -0.05em;
    transition: 50ms;
}

.main-detailpage{
    margin-left: 2em;
    font-size: 1.5em;
}

.main-detailpage img{
    width: 15em;
    height: auto;
}

.main-detailpage h1{
    color: var(--text-color);;
}
.main-detailpage h2{
    color: var(--text-color);;
}
.main-detailpage h3{
    color: var(--text-color);;
}
.main-detailpage h4{
    color: var(--text-color);;
}

.beschrijving{
    display: flex;
    flex-direction: column;
}

blockquote{
    font-weight: bolder;
}
ol{
    list-style-type: none;
}


