.menu {
  --border-radius: 1rem;

  display: flex;
  flex-flow: column nowrap;
}

.menu__item {
  padding: 1rem;
  background-color: white;
}

.menu__item:first-child {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.menu__item:last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

