/*
====================
Imports
*/

/*
====================
Fonts
*/
@font-face {
  font-family: Medium;
  src: url("../fonts/FiraSans/FiraSans-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: Light;
  src: url("../fonts/FiraSans/FiraSans-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: Extra Light Italic;
  src: url("../fonts/FiraSans/FiraSans-ExtraLightItalic.ttf");
  font-display: swap;
}

@font-face {
  font-family: Book;
  src: url("../fonts/FiraSans/FiraSans-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: Book Italic;
  src: url("../fonts/FiraSans/FiraSans-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: Bold;
  src: url("../fonts/FiraSans/FiraSans-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: Regular;
  src: url("../fonts/FiraSans/FiraSans-Regular.ttf");
  font-display: swap;
}

/*
====================
Variables
*/
:root {
  --font-size: 1em;
  --font-family: Regular, san-serif;
  --spacing: 1rem;

  --primary-color: rgb(212, 0, 91);

  --success-color: rgb(34, 197, 94);
  --info-color: #3b82f6;
  --warning-color: #f59e0b;
  --error-color: rgb(239, 68, 68);

  --background: #f3f3f3;

  --body-padding: calc(
    ((100vw - var(--max-screen-width)) / 2) + var(--spacing)
  );
  --max-screen-width: 100%;

  --breakpoint-sm: 36rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 62rem;
  --breakpoint-xl: 75rem;
  --breakpoint-xxl: 90rem;

  --heading-font: Medium, san-serif;
}

/*
====================
Default styling
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

html,
body {
  height: 100%;
  font-size: var(--font-size);
  font-family: var(--font-family);
  background: var(--background);
  color: var(--text-color);
}

@media (min-width: 36rem) {
  :root {
    --max-screen-width: var(--breakpoint-sm);
  }
}

@media (min-width: 48rem) {
  :root {
    --max-screen-width: var(--breakpoint-md);
  }
}

@media (min-width: 62rem) {
  :root {
    --max-screen-width: var(--breakpoint-lg);
  }
}

@media (min-width: 75rem) {
  :root {
    --max-screen-width: var(--breakpoint-xl);
  }
}

@media (min-width: 90rem) {
  :root {
    --max-screen-width: var(--breakpoint-xxl);
  }
}

.hero {
  height: 100vh;
  height: 100svh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/vervoerregio-amsterdam-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
  max-height: 1080px;
}

header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.logo-container {
  padding: .5rem;
  background-color: #fff;
  z-index: 3;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100%;
  max-width: 193px;
  padding: .5rem;

}

header .menu {
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  width: fit-content;
  height: fit-content;
  padding: 0.8rem;
  border-radius: 6px;
  cursor: pointer;
}

.nav-js-style {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 85%,
    rgba(0, 0, 0, 0) 100%
  );
}

.nav-active {
  transform: translate(0, 100%);
}

.nav-container {
  z-index: 2;
}

nav {
  position: relative;
  background-color: white;
  padding: 0.5rem 0;
}

.nav-design {
  margin: 1rem;
  border-radius: 6px;
}

header ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

header ul li {
  list-style-type: none;
  padding: 0.5rem 1rem;
}

header ul li a {
  text-decoration: none;
  color: black;
  width: 100%;
  padding: 0.3rem 0;
  display: block;
}

header ul li a:is(:hover, :focus) {
  color: var(--primary-color);
}

header ul li button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  padding: 0.3rem 0;
  font-family: Regular, san-serif;
}

.search-bar {
  position: absolute;
  bottom: 0;
  left: 1rem;
  transform: translate(0, 150%);
  width: calc(100% - 2rem);
  padding: 0.4rem;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-family: Regular, san-serif;
  transition: all 0.3s ease-out;
}

.search-bar-js {
  left: 0;
  width: 100%;
  transform: translate(0, 200%);
}

.search-bar-active {
  transform: translate(0, 150%);
}

.curve {
  height: 3rem;
  display: none;
}

.hero .hero-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 4rem 1rem 4rem 1rem;
}

.bottom-bar {
  width: 100%;
  /* bottom: 0;
  position: absolute; */
}

.bottom-bar-verloop {
  height: 2em;
  background: rgb(185, 0, 95);
  background: linear-gradient(
    90deg,
    rgba(185, 0, 95, 1) 0%,
    rgba(227, 0, 89, 0) 100%
  );
}

.bottom-bar-box {
  height: 4em;
  background: rgb(185, 0, 95);
  background: linear-gradient(
    90deg,
    rgba(185, 0, 95, 1) 0%,
    rgba(227, 0, 89, 1) 100%
  );
}

@media screen and (min-width: 600px) {
  header nav ul {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 820px) {
  header {
    flex-direction: row;
  }

  .logo {
    max-width: none;
  }

  .menu {
    display: none;
  }

  .nav-container {
    position: relative;
    height: 100%;
    width: 100%;
    background: none;
    transform: translate(0);
  }

  nav {
    margin: 0;
    border-radius: 0;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .nav-design {
    margin: 0;
    border-radius: 0;
  }

  header nav ul {
    justify-content: flex-end;
  }

  header nav ul li {
    padding: 0;
  }

  header nav ul li a,
  header nav ul li button {
    padding: 0.3rem;
  }

  .search-bar {
    left: auto;
    transform: translate(0, 150%);
    max-width: 445px;
    right: 1rem;
    bottom: 0;
  }

  .curve {
    display: block;
  }
}

@media screen and (min-width: 950px) {
  .logo-container {
    padding-left: 10%;
  }

  nav {
    padding-right: 10%;
  }

  .search-bar {
    right: 10%;
  }

  .hero .hero-title {
    padding: 4rem 10%;
  }
}
