/*
====================
Imports
*/
@import "./components/page.css";
@import "./components/menu.css";
@import "./components/card.css";
@import "./components/button.css";
@import "./components/typografy.css";

/*
====================
Fonts
*/
@font-face {
  font-family: Medium;
  src: url("../fonts/FiraSans/FiraSans-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: Light;
  src: url("../fonts/FiraSans/FiraSans-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: Extra Light Italic;
  src: url("../fonts/FiraSans/FiraSans-ExtraLightItalic.ttf");
  font-display: swap;
}

@font-face {
  font-family: Book;
  src: url("../fonts/FiraSans/FiraSans-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: Book Italic;
  src: url("../fonts/FiraSans/FiraSans-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: Bold;
  src: url("../fonts/FiraSans/FiraSans-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: Regular;
  src: url("../fonts/FiraSans/FiraSans-Regular.ttf");
  font-display: swap;
}

/*
====================
Variables
*/
:root {
  --font-size: 1em;
  --font-family: Regular, san-serif;
  --spacing: 1rem;

  --primary-color: rgb(212, 0, 91);

  --success-color: rgb(34, 197, 94);
  --info-color: #3b82f6;
  --warning-color: #f59e0b;
  --error-color: rgb(239, 68, 68);

  --background: #f3f3f3;

  --body-padding: calc(
    ((100vw - var(--max-screen-width)) / 2) + var(--spacing)
  );
  --max-screen-width: 100%;

  --breakpoint-sm: 36rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 62rem;
  --breakpoint-xl: 75rem;
  --breakpoint-xxl: 90rem;

  --heading-font: Medium, san-serif;
}

/*
====================
Default styling
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video {
  max-width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

html,
body {
  height: 100%;
  font-size: var(--font-size);
  font-family: var(--font-family);
  background: var(--background);
  color: var(--text-color);
}

.body-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: -2rem;
}

.body-header__image {
  background: white;
  padding-block: 1rem;
  padding-inline: var(--body-padding) 2.5rem;
  border-bottom-right-radius: 2.5rem;
  position: relative;
  z-index: 2;
}

.body-header__image::before {
  content: "";
  position: absolute;
  left: 100%;
  transform: translate(-1em, 2.2em);
  width: auto;
  height: 100%;
  aspect-ratio: 2/1;
  background: transparent;
  border-top-left-radius: 2.5em;
  box-shadow: -2.5em -4.25em 0 white;
  z-index: 1;
}

.body-header__image > svg {
  height: 3rem;
}

.body-header__nav {
  flex: 1;
  padding-inline: 2.5rem var(--body-padding);
  z-index: 2;
}

@media (min-width: 36rem) {
  :root {
    --max-screen-width: var(--breakpoint-sm);
  }
}

@media (min-width: 48rem) {
  :root {
    --max-screen-width: var(--breakpoint-md);
  }
}

@media (min-width: 62rem) {
  :root {
    --max-screen-width: var(--breakpoint-lg);
  }
}

@media (min-width: 75rem) {
  :root {
    --max-screen-width: var(--breakpoint-xl);
  }
}

@media (min-width: 90rem) {
  :root {
    --max-screen-width: var(--breakpoint-xxl);
  }
}

