.breadcrumbs {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.breadcrumbs__item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.breadcrumbs__item * {
  color: #6a4955;
}

