.button {
  --color: var(--primary-color);
  font-size: 1rem;
  display: inline-flex;
  flex-flow: row nowrap;
  gap: 0.5em;
  background: var(--color);
  border: 1px solid var(--color);
  border-radius: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
}

.button--secondary {
  --color: #c9b5b2;
}
.button--plain {
  --color: #444444;
}
.button--warning {
  --color: #ffd05f;
}
.button--info {
  --color: #46becd;
}
.button--success {
  --color: #25ae93;
}
.button--help {
  --color: #606eb3;
}
.button--danger {
  --color: #ff4646;
}

.button * {
  color: white;
  pointer-events: none;
}

.button__icon {
}

.button__label {
}

