.card {
  padding: 1em;
  background: white;
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
  border-radius: 0 1em 1em;
  position: relative;
  margin-top: 2.25em;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 33%;
  height: 2.25em;
}

.card::before {
  width: 33%;
  transform: translate(calc(100% - 0.6em), -100%);
  background: transparent;
  border-bottom-left-radius: 2.25em;
  box-shadow: -2.25em 1.125em 0 white;
}
.card::after {
  transform: translateY(-100%);
  background: white;
  border-radius: 1em 2.25em 0 0;
}

